<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Welcome To Xsis POS!</h1>
        <hr>
        <p>
            Ini adalah text dari Session['coba'] =
            <span th:if="${txtSesi != null}" th:text="${txtSesi}"></span>
            <span th:unless="${txtSesi != null}">No txtSesi</span>
        </p>
        <div>
            <form action="/setSesi">
                <input type="text" name="txtSesi" class="form-control">
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">Update Session['coba']</button>
            </form>
        </div>
    </div>
</body>
</html>