<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container text-center">
            <h1>HOME</h1>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticModal">
            Launch static backdrop modal
        </button>

    </section>
</body>
</html>