<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">
<head>
    <title>Welcome!</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="h1">Welcome to XsisPOS!</div>
        <hr>
        <div class="h3 border-bottom">Session</div>
        <p>['coba'] = 
            <span th:if="${txtSesi!=null}" th:text="${txtSesi}"></span>
            <span th:unless="${txtSesi!=null}">[null]</span>
        </p>
        <p>['userName'] = 
            <span th:if="${#ctx.session.userName!=null}" th:text="${#ctx.session.userName}"></span>
            <span th:unless="${#ctx.session.userName!=null}">[null]</span>
        </p>
        <p>['errorMsg'] = 
            <span th:if="${#ctx.session.errorMsg!=null}" th:text="${#ctx.session.errorMsg}"></span>
            <span th:unless="${#ctx.session.errorMsg!=null}">[null]</span>
        </p>
        <div>
            <form action="/setSesi">
                <div class="input-group">
                    <input type="text" name="txtSesi" class="form-control">
                    <button type="submit" class="btn btn-primary w-25 rounded mx-auto"
                        data-bs-toggle="modal" data-bs-target="#staticModal">Update Session['coba']</button>                    
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>