<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a itaque dolore quia est dolorum explicabo ut error minus voluptate quam, corporis quis vero perspiciatis rem provident nobis adipisci aliquid!</p>
    </div>
</body>
</html>