<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}"
>
    <head>
            <title>About Page</title>
            <link rel="stylesheet" href="home.css">
            <script src="home.js"></script>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>About Page</h1>
            <p>this is about page</p>
            <h1>test</h1>
            <p>haloooooooooooooooooooooooooooooooooooo</p>
            <a href="">HALOOOOOOOO INI LINK</a>
        </div>
    </body>
</html>