<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring MVC Example</title>
  <link rel="stylesheet" href="home.css"> 
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
  <h1 th:text="${message}">Default Message</h1>
  <form action="/greet" method="POST">
    <label for="name">Enter your name :</label>
    <input type="text" id="name" name="name">
    <button type="submit">Greet Name </button>
  </form>
  <div class="color-button-container">
     <button id="btn-blue">Biru</button>
     <button id="btn-green">Hijau</button>
     <button id="btn-red">Merah</button>
  </div>
  <div class="container" style="display: flex;">
    <div class="row">
      <div class="col-sm-12">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum expedita magnam suscipit, vitae officiis dolorum. Similique voluptatem quas, rem aut iste aliquid sed sunt assumenda laborum enim reprehenderit, praesentium, quo doloribus fugit omnis fugiat possimus porro doloremque vel cum repudiandae corporis fuga voluptates necessitatibus. Atque obcaecati modi sequi blanditiis officiis error veritatis quidem placeat, voluptate, dolore suscipit? Natus libero pariatur esse assumenda dolor reiciendis provident rerum at quibusdam veniam nihil aliquam corporis voluptatum soluta aspernatur recusandae enim quis, facere repudiandae vitae. Incidunt, pariatur? Eum molestiae corrupti eius deleniti sunt quae consectetur culpa tempore autem minus dolores ipsa accusantium, illo rem.
      </div>
      <div class="col-sm-12">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum expedita magnam suscipit, vitae officiis dolorum. Similique voluptatem quas, rem aut iste aliquid sed sunt assumenda laborum enim reprehenderit, praesentium, quo doloribus fugit omnis fugiat possimus porro doloremque vel cum repudiandae corporis fuga voluptates necessitatibus. Atque obcaecati modi sequi blanditiis officiis error veritatis quidem placeat, voluptate, dolore suscipit? Natus libero pariatur esse assumenda dolor reiciendis provident rerum at quibusdam veniam nihil aliquam corporis voluptatum soluta aspernatur recusandae enim quis, facere repudiandae vitae. Incidunt, pariatur? Eum molestiae corrupti eius deleniti sunt quae consectetur culpa tempore autem minus dolores ipsa accusantium, illo rem.
      </div>
      <div class="col-sm-12">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum expedita magnam suscipit, vitae officiis dolorum. Similique voluptatem quas, rem aut iste aliquid sed sunt assumenda laborum enim reprehenderit, praesentium, quo doloribus fugit omnis fugiat possimus porro doloremque vel cum repudiandae corporis fuga voluptates necessitatibus. Atque obcaecati modi sequi blanditiis officiis error veritatis quidem placeat, voluptate, dolore suscipit? Natus libero pariatur esse assumenda dolor reiciendis provident rerum at quibusdam veniam nihil aliquam corporis voluptatum soluta aspernatur recusandae enim quis, facere repudiandae vitae. Incidunt, pariatur? Eum molestiae corrupti eius deleniti sunt quae consectetur culpa tempore autem minus dolores ipsa accusantium, illo rem.
      </div>
    </div>
  </div>
  <script>
    
  </script>
</body>
</html>