<footer class="footer mt-auto py-2 bg-dark">
  <div class="container-fluid">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-muted">Home</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link px-2 text-muted">About</a>
      </li>
      <li class="nav-item">
        <a href="/master" class="nav-link px-2 text-muted">Master</a>
      </li>
      <li class="nav-item">
        <a href="/transaction" class="nav-link px-2 text-muted">Transaction</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2024 XsisPOS, Inc</p>
  </div>
</footer>
