<footer class="container-fluid fixed-bottom px-0 bg-secondary">
  <div class="container py-0">
    <div class="row">
      <div class="col">
        <h3>About app</h3>
        <div class="text-left">
          <p style="text-align: justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit modi
            molestias velit pariatur tempora numquam. Natus itaque adipisci,
            soluta vero labore cupiditate sapiente hic vitae praesentium quo
            facere quas asperiores?
          </p>
        </div>
      </div>
      <div class="col text-center">
        <h3>Link</h3>
        <a href="/" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
      </div>
      <div class="col text-right">
        <h3>Contact</h3>
        <div class="text-right" style="width: 11%">
          <img
            src="https://clipground.com/images/call-logo-png-3.png"
            class="rounded-circle img-thumbnail"
          />
        </div>
      </div>
    </div>
  </div>
  <hr style="opacity: 1" />
  <div class="text-center">
    <p>&copy; MyApp</p>
  </div>
</footer>
