<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Xsis POS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown" th:if="${#ctx.session.roleId == 1}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cubes"></i> Master
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category"><i class="fas fa-shapes"></i> Category</a></li>
            <li><a class="dropdown-item" href="/product"><i class="fas fa-boxes"></i> Product</a></li>
            <li><a class="dropdown-item" href="/variant"><i class="fas fa-th-large"></i> Variant</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/customer"><i class="fas fa-users"></i> User</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transaction
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/order">Order</a></li>
            <li><a class="dropdown-item" href="/history">History</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <button th:if="${#ctx.session.userId == null}"id="btnLogin" class="btn btn-primary">Log In</button>
      <a th:unless="${#ctx.session.userId == null}" href="/auth/logout"><button class="btn btn-dark">Log Out</button></a>
    </div>
  </div>
</nav>

<script>
    $("#btnLogin").click(function (e) {
    $("#staticModalBody").load("auth/login");
    $("#staticModal").modal("show");
  });
</script>