<nav class="navbar navbar-expand-lg bg-secondary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
       XsisPos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home" style="margin-right: 5px;"></i>Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Master</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category">Category</a></li>
            <li><a class="dropdown-item" href="/variant">Variant</a></li>
            <li><a class="dropdown-item" href="/product">Product</a></li>
            <li><hr class="dropdown-divider" style="opacity: 1; background-color: white;"></li>
            <li><a class="dropdown-item" href="/user"><i class="fas fa-user-circle"></i>User</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Transaction</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/order"><i class="fas fa-receipt" style="margin-right: 5px;"></i>Order</a></li>
            <li><a class="dropdown-item" href="/OrderHistory"><i class="fas fa-history" style="margin-right: 5px;"></i> Order History</a></li>
          </ul>
        </li>   
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
    </ul>
    </div>
    </div>
</nav>