<span id="txTitle" th:text="${title}" class="d-none"></span>

<form th:action="@{~/variant/create}" id="frmNewVariant" method="post"> 
    <div class="card">
        <div class="card-body">
            <div>
                <div class="form-group mb-2">
                    <label for="txtName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="txtName">
                </div>
                <div class="form-group mb-2">
                    <label for="txtDesciption" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="txtDescription">
                </div>
                <div class="form-group mb-2">
                    <label for="categoryId" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="categoryId" id="categoryId">
                        <option value="">Select Categories</option>
                        <option th:each="item:${category}" th:value="${item.id}" th:text="${item.categoryName}">One</option>
                    </select>
                </div>
            </div>
         </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-dark"><i class="fas fa-save"></i> Save</button>
    </div>
</form>


<script>
    $(document).ready(function(){
        $('#staticModalLabel').text($("#txTitle").text());

        $('#frmNewVariant').validate({
            'rules': {
                'name': {
                    'required': true,
                    'maxlength': 50,
                    'minlength': 3
                },
                'categoryId': {
                    'required': true
                }
            },
            'errorClass': 'text-danger'
        });

        $('#frmNewVariant').submit(function(e){
            e.preventDefault();

            if($('#frmNewVariant').valid()){
                $.ajax({
                    url: '/variant/create',
                    type: 'post',
                    data: $('#frmNewVariant').serialize(),
                    dataType: 'json',
                    beforeSend: () => {
                        // alert("mengirim data ke API");
                    },
                    success: function(response){
                        alert("Variant " + response.name + " succesfully created!");
                        location.reload();
                    },
                    error: function(errResponse){
                        console.error("create new category failed" + errResponse.responseText)
                    },
                });
            }
        });


    })
</script>