<input type="hidden" id="txtTitle" th:value="${title}" />
<input type="hidden" id="variantId" th:value="${id}" />
<div class="card">
    <div class="card-body row">
        <div class="col-1 text-center">
            <i class="fas fa-question-circle text-info h3"></i>
        </div>
        <div class="col-11">
            Are you sure want to delete Variant with ID <span th:text="${id}"></span>?
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-danger me-3">Confirm</button>
        <button class="btn btn-primary">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#staticModalLabel").text($("#txtTitle").val());

        $(".card-footer > .btn-danger").click(function(e) {
            let varId = $("#variantId").val();

            $.ajax({
                url: "/variant/delete/" + varId + "/3",
                type: "post",
                dataType: "json",
                beforeSend: (e) => {},
                success: function(response) {
                    alert(`Variant successfully Deleted!`);
                    location.reload();
                },
                error: function(errResponse) {
                    alert(`Failed to delete Variant!`);
                    console.error(errResponse);
                }
            });
        });

        $(".card-footer > .btn-primary").click(function(e) {
            $("#staticModal").modal("hide");
        });
    });
</script>