<span id="txtTitle" class="d-none" th:text="${title}"></span>
<div class="card">
    <div class="card-body">
        <form action="@{~/variant/delete-confirm}" id="formDeleteVariant" method="post">
            <div class="form-group">
                <label for="txtId" class="form-label">Variant Id</label>
                <input type="text" id="txtId" class="form-control" name="id" th:value="${variant.id}" readonly>
            </div >
            <input type="hidden" name="updateBy" id="txtId" value="2">
            <input type="hidden" name="categoryId" id="txtId" th:value="${variant.categoryId}">
            <div class="form-group">
                <label for="txtDesc" class="form-label">Variant description</label>
                <input type="text" id="txtDesc" class="form-control" name="description" th:value="${variant.description}" readonly>
            </div>
            <div class="form-group">
                <label for="txtCreateBy" class="form-label">Create By</label>
                <input type="text" id="txtCreateBy" class="form-control" name="createBy" th:value="${variant.createBy}" readonly>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#staticModalLabel").text($("#txtTitle").text());
        $("#formDeleteVariant").submit(
            function(e){
                e.preventDefault();
                if($("#formDeleteVariant").valid()){
                    $.ajax({
                        url: "/variant/delete-confirm",
                        type: "post",
                        data: $("#formDeleteVariant").serialize(),
                        dataType: "json",
                        beforeSend: () => {
                            alert("mengirim data ke apinya");
                        },
                        success: function(response){
                            alert("Variant " + response.name + " succesfully updated!");
                            location.reload();
                        },
                        error: function(errResponse){
                            alert("update Variant failed " + errResponse.responseText);
                            console.error("update Variant failed " + errResponse.responseText);
                        }
                    });
                }
            });
    });
</script>