<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}"    
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variant</title>
</head>
<body>
    <div layout:fragment ="content">
        <h1>Variant Index</h1>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-primary" id="btnAdd" data-bs-toggle="modal" data-bs-target="#staticModal">Add</button>
            <div class="d-flex">
                <label for="search" class="me-2">Search:</label>
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered ">
            <thead class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-warning btn-sm">Detail</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>
                        <button class="btn btn-success btn-sm">Edit</button>
                        <button class="btn btn-warning btn-sm">Detail</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <script> 
            $("#btnAdd").click(function(e){
                $("#staticModalBody").load("/variant/add");
            });
        </script>
    </div>
    </div>
</body>
</html>