<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
	<head>
		<title>Variant::Index</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="d-flex justify-content-between align-items-center border-bottom mb-3">
				<span class="h2">Variant Index</span>
				<div>
					<button class="btn btn-success btn-sm" type="button" id="btnAdd" title="Add..."
						data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-plus"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-6">
					<div class="input-group w-25 mx-auto mx-lg-0 mb-2">
						<span class="input-group-text">Entries</span>
						<input type="text" th:value="${#lists.size(variant)}" class="form-control bg-white" readonly />
					</div>
				</div>
				<div class="col-sm-12 col-lg-6">
					<form id="frmFilter">
						<div class="input-group">
							<input type="text" id="txtFilter" name="filter" class="form-control" th:value="${filter}" />
							<button type="submit" class="btn btn-secondary input-group-text"><i class="fas fa-filter"></i></button>
						</div>
					</form>
				</div>
			</div>
			
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="col-1">ID</th>
						<th class="col-3">Name</th>
						<th class="col-5">Description</th>
						<th class="col-lg-2 d-none d-lg-table-cell">Category</th>
						<th class="col-1 text-center">Action</th>
					</tr>
				</thead>
				<tbody th:if="${variant != null}">
					<tr th:each="item : ${variant}">
						<td th:text="${item.id}">1</td>
						<td th:text="${item.name}">Variant Name</td>
						<td th:text="${item.description}">Variant Description</td>
						<td th:text="${item.categoryName}" class="d-none d-lg-table-cell">Variant Category</td>
						<td>
							<div class="btn-group">
								<button th:data-id="${item.id}" class="btn btn-info" title="Details..."><i class="fas fa-list-alt"></i></button>
								<button th:data-id="${item.id}" class="btn btn-warning" title="Edit..."><i class="fas fa-edit"></i></button>
								<button th:data-id="${item.id}" class="btn btn-danger" title="Delete.."><i class="fas fa-trash"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div th:if="${errorMsg != null}" class="text-center text-danger h6 fst-italic border-bottom pb-3" th:text="${errorMsg}"></div>
	
			<script>
				$("#btnAdd").click(function(e){
					$("#staticModalBody").load("/variant/add");
				});
	
				$(".btn-info").click(function (e) {
					let varId = $(this).data("id");
	
					$("#staticModalBody").load("/variant/id/" + varId);
					$("#staticModal").modal("show");
				});
	
				$(".btn-warning").click(function(e) {
					let varId = $(this).data("id");
	
					$("#staticModalBody").load("/variant/edit/" + varId);
					$("#staticModal").modal("show");
				});
			</script>
		</div>
		</body>
</html>