<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category-variant</title>

</head>

<body>
    <div layout:fragment="content">
        <h1>Variant List</h1>
        <button type="button" class="btn btn-primary mt-2" id="btnVariantAdd" data-bs-toggle="modal"
            data-bs-target="#staticModal">Add</button>
        <div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <form action="#">
                    <div class="input-group container-fluid" th:if="${variants != null}">
                        <input type="text" class="form-control" placeholder="Total Entries" aria-label="Total Entries"
                            aria-describedby="button-addon2" th:value="${#lists.size(variants)}">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enter</button>
                    </div>
                    <div class="input-group container-fluid" th:unless="${variants != null}">
                        <input type="text" class="form-control" placeholder="Total Entries" aria-label="Total Entries"
                            aria-describedby="button-addon2" value="0">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enter</button>
                    </div>
                </form>
                <form action="#" id="frmFilterVariant">
                    <div class="input-group container-fluid">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="button-addon2" name="variantFilter">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nama Variant</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Is Delete</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody th:if="${variants != null}" class="align-middle">
                        <!-- looping -->
                        <tr th:each="item:${variants}">
                            <th scope="row" th:text="${item.id}"></th>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.categoryId}"></td>
                            <td th:text="${item.Description}"></td>
                            <td th:text="${item.deleted}"></td>
                            <td>
                                <div class="btn-group">
                                    <button th:data-id="${item.id}" id="editVariant" type="button"
                                        class="btn btn-success"><i class="fas fa-edit"></i></button>
                                    <button th:data-id=${item.id} id="detailVariant" type="button"
                                        class="btn btn-warning"><i class="fas fa-info-circle"></i></button>
                                    <button th:data-id=${item.id} id="deleteVariant" type="button"
                                        class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:unless="${item != null}" class="text-danger text-center" th:text="${errorMsg}"></div>

            </div>
        </div>
        <script>
            $("#btnVariantAdd").click(function (e) {
                $("#staticModalBody").load("variant/add");
            })

            $(".btn-group > #editVariant").click(function (e) {
                let variantId = $(this).data("id")
                $("#staticModalBody").load("variant/edit/" + variantId);
                $("#staticModal").modal("show");
            })

            $(".btn-group > #detailVariant").click(function (e) {
                let variantId = $(this).data("id")
                $("#staticModalBody").load("variant/" + variantId);
                $("#staticModal").modal("show");
            })

            $(".btn-group > #deleteVariant").click(function (e) {
                let variantId = $(this).data("id")
                $("#staticModalBody").load(`variant/delete/${variantId}`)
                $("#staticModal").modal("show");
            })
        </script>
    </div>
</body>



</html>