<span id="txTitle" th:text="${title}" class="d-none"></span>

<div class="container">
    <form id="frmEditBlood"> 
        <input type="hidden" name="id" id="txtId" th:value="${bloods.id}">
        <input type="hidden" name="modifiedBy" id="txtmodifiedBy" value="2">
        <!-- <input type="hidden" name="createdBy" id="createdBy" th:value="1"> -->
        <div>
            <div class="form-group mb-2">
                <label for="txtCode" class="form-label">Code</label>
                <input type="text" class="form-control" name="code" id="txtCode" th:value="${bloods.code}">
            </div>
            <div class="form-group mt-1">
                <label for="txtDescription" class="form-label">Description</label>
                <input type="description" class="form-control" name="description" id="txtDescription" th:value="${bloods.description}">
            </div>
        </div>
        <div class="d-flex justify-content-end mt-3 mb-2">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $('#staticModalLabel').text($("#txTitle").text());

        $('#frmEditBlood').validate({
            'rules': {
                'code': {
                    'required': true,
                },
            },
            'errorClass': 'text-danger'
        });

        $('#frmEditBlood').submit(function(e){
            e.preventDefault();

            if($('#frmEditBlood').valid()){
                $.ajax({
                    url: '/blood/update',
                    type: 'post',
                    data: $('#frmEditBlood').serialize(),
                    dataType: 'json',
                    beforeSend: () => {
                        // alert("mengirim data ke API");
                    },
                    success: function(response){
                        alert("Blood " + response.code + " succesfully update!");
                        location.reload();
                    },
                    error: function(errResponse){
                        console.error("update blood type failed" + errResponse.responseText)
                    },
                });
            }
        });


    })
</script>