<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodType</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="page-heading">
            <div class="d-flex justify-content-between">
                <div class="h3">Blood Group</div>
                <button type="button" class="btn btn-primary btn-sm" id="btnAdd" data-bs-toggle="modal" data-bs-target="#staticModal">ADD DATA</button>
            </div>
        </div>
        <div class="page-content">
            <form id="frmFilter">
                <div class="input-group mb-3">
                    <input th:if="${filter!=null}" th:value="${filter}" name="filter" id="txtFilter" type="text" class="form-control" placeholder="Search..."  aria-describedby="button-addon2">
                    <input th:unless="${filter!=null}" name="filter" id="txtFilter" type="text" class="form-control" placeholder="Search..."  aria-describedby="button-addon2">
                    <button class="btn btn-outline-dark" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
            <!-- TABLE -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Code</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blood:${bloods}">
                        <!-- <th scope="row" th:text="${blood.id}">1</th> -->
                        <td th:text="${blood.code}">Ice Cream</td>
                        <td th:text="${blood.description}">Dessert</td>                    
                        <td>
                            <div class="btn-group gap-2">
                                <!-- <button th:data-id="${blood.id}" type="button" class="btn btn-info btn-sm rounded-2"><i class="fas fa-eye"></i>Detail</button> -->
                                <button th:data-id="${blood.id}" type="button" class="btn btn-warning btn-sm rounded-2 btnEdit"><i class="fas fa-edit"></i> Edit</button>
                                <button th:data-id="${blood.id}" th:data-code="${blood.code}" type="button" class="btn btn-danger btn-sm rounded-2 btnDelete"><i class="fas fa-trash"></i> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- TABLE END -->
        </div>
        <script>
            $("#btnAdd").click(function(e){
                $("#staticModalBody").load("/blood/add");
            });
    
            $(".btnEdit").click(function(e){
                let catId = $(this).data("id");
    
                $("#staticModalBody").load("/blood/edit/" + catId);
                $("#staticModal").modal("show");
            })
    
            $(".btnDelete").click(function(e){
                let catId = $(this).data("id");
                let catCode = $(this).data("code");
    
                $("#staticModalBody").load("/blood/delete/" + catId + "/" + catCode);
                $("#staticModal").modal("show");
            })
         </script>
    </div>
</body>
</html>

