<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <style>
        .img-thumbnail {
          width: 75px; /* Ukuran lebar gambar */
          height: 75px; /* Ukuran tinggi gambar */
          object-fit: cover; /* Memotong gambar agar tetap proporsional */
        }
      </style>
      <h1>Welcome to Product</h1>
      <div class="d-flex justify-content-end">
        <form>
          <div class="input-group">
            <input th:value="${filter}" name="filter" type="text" id="txtFilter" class="form-control" placeholder="Name, Variant or Category..." />
            <button type="submit" class="input-group-text"><i class="fas fa-filter" title="Filter by Name, Variant or Category..."></i></button>
          </div>
        </form>
      </div>
      
      <hr style="opacity: 1" />
      <h1 th:text="${errorMsg}"></h1>
      <button
        type="button"
        class="btn btn-success"
        id="btnAdd"
        data-bs-toggle="modal"
        data-bs-target="#staticModal"
      >
        <i class="fas fa-plus"></i> Add
      </button>

      <table class="table table-striped" id="tb-product">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Variant</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item:${product.content}">
            <td>
              <img
                th:src="@{'/img/' + ${item.image}}"
                alt="product "
                class="img-thumbnail rounded-circle"
              />
            </td>
            <td th:text="${item.id}">1</td>
            <td th:text="${item.name}">Carbonara</td>
            <td th:text="${item.variantName}">Variant</td>
            <td th:text="${item.categoryName}">Category</td>
            <td th:text="${item.price}">Main Course</td>
            <td th:text="${item.stock}">Pasta</td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic mixed styles example"
              >
                <button
                  type="button"
                  class="btn btn-success"
                  th:data-id="${item.id}"
                >
                  Detail
                </button>
                <button
                  type="button"
                  class="btn btn-warning"
                  th:data-id="${item.id}"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  th:data-id="${item.id}"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8" class="text-center">
              <div class="btn-group">
                <button id="btnPrev" title="Previous Page..." class="btn btn-secondary"><i class="fas fa-backward"></i></button>
                <span class="input-group-text text-end" id="pagePosition" th:text="|Page ${product.number + 1} of ${product.totalPages}|"></span>
                <button id="btnNext" title="Next Page..." class="btn btn-secondary"><i class="fas fa-forward"></i></button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
      <script th:inline="javascript">
        $(document).ready(function () {
          let isFirstPage = /*[[${product.first}]]*/ true;
          let isLastPage = /*[[${product.last}]]*/ false;

          $("#btnPrev").prop("disabled", isFirstPage);
          $("#btnNext").prop("disabled", isLastPage);
        });
        $("#btnAdd").click(function (e) {
          $("#staticModalBody").load("product/add");
        });
        $(".btn-success").click(function (e) {
          let prodId = $(this).data("id");

          $("#staticModalBody").load("/product/" + prodId);
          $("#staticModal").modal("show");
        });

        $(".btn-danger").click(function (e) {
          let prodId = $(this).data("id");

          $("#staticModalBody").load("/product/delete/" + prodId);
          $("#staticModal").modal("show");
        });
        $(".btn-warning").click(function (e) {
          let prodId = $(this).data("id");

          $("#staticModalBody").load("/product/edit/" + prodId);
          $("#staticModal").modal("show");
        });

        $("#btnPrev").click(function(e){
					let filter = $("#txtFilter").val();
					let currPageSize = /*[[${currPageSize}]]*/0;
					let pageNumber = /*[[${product.number}]]*/0;

					location.href = `/product?filter=${filter}&pageNumber=${(pageNumber-1)}&currPageSize=${currPageSize}`;
				});


				$("#btnNext").click(function(e){
					let filter = $("#txtFilter").val();
					let currPageSize = /*[[${currPageSize}]]*/0;
					let pageNumber = /*[[${product.number}]]*/0;
					
					location.href = `/product?filter=${filter}&pageNumber=${(pageNumber+1)}&currPageSize=${currPageSize}`;
				});
      </script>
    </div>
  </body>
</html>
