<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
    <div class="col text-center h4">
        <i class="fas fa-question-circle"></i> Are you sure you want to delete category with id ${}
    </div>
</div>

<script>
    $(document).ready(function(){
        if (confirm("Are you sure to delete category with ID" + catId +"?")){
                $.ajax({
                    url:`http://localhost:8080/api/category/delete/${catId}`,
                    type:'delete',
                    success: function(response){
                        alert(`Category ${catId} successfully Deleted!`)
                        location.reload();
                    },
                    error: function(errResponse){
                        alert(errResponse)
                    }
                })
            }
    })
</script>