<!-- for sending the data to the Ajax -->
<input id="deleteTitle" type="hidden" th:value="${title}"></input>
<input id="categoryId" type="hidden" th:value="${id}"></input>
<div class="card">
    <div class="card-body d-flex flex-column text-center">
        <div class="col  h4">
            <i class="fas fa-exclamation"></i>
        </div>
        <div class="col-11">
            Are you sure want to delete Category with ID <span th:text="${id}"></span>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-danger me-2" id="">Confirm</button>
            <!-- Spasi -->
            <span>&nbsp;</span>
            <button class="btn btn-primary" id="abortCancelAdd">Cancel</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        // Get the data from hidden
        $("#staticModalLabel").text($("#deleteTitle").val())

        // Preventing double click with the parent of category/index.html
        $(".card-footer > .btn-danger").click(function (e) {
            let catId = $("#categoryId").val()
            $.ajax({
                url: `category/delete/${catId}/3`,
                type: "post",
                success: function (response) {
                    alert(`Category with id ${catId} successfully deleted`)
                    location.reload()
                },
                error: function (errResponse) {
                    alert(`Category with id ${catId} failed to deleted`)
                    console.error(errResponse.responseText)
                }
            })
        })

        $(".card-footer > .btn-primary").click(function (e) {
            alert("cancel")
            $("#staticModal").modal("hide")
        })
    })
</script>