<span id="txtTitle" class="d-none" th:text="${title}"></span>
<div class="card">
    <div class="card-body">
        <div class="mt-3 border-top ow">
            <div>
                <label for="txtDescription" class="form-label h6">Create By</label>
                <input type="text" class="form-control" id="txtDescription" name="description" th:value="${category.createBy}" readonly>
                <label for="txtDescription" class="form-label h6">Create Date</label>
                <input type="text" class="form-control" id="txtDescription" name="description" th:value="${category.createDate}" readonly>
                <label for="txtDescription" class="form-label h6">Update By</label>
                <input th:if="${category.updateBy != 0}" type="text" class="form-control" id="txtDescription" name="description" th:value="${category.updateBy}" readonly>
                <input th:unless="${category.updateBy != 0}" type="text" class="form-control" id="txtDescription" name="description" value="-" readonly>
                <label for="txtDescription" class="form-label h6">Update Date</label>
                <input th:if="${category.updateDate != null}" type="text" class="form-control" id="txtDescription" name="description" th:value="${category.updateDate}" readonly>
                <input th:unless="${category.updateDate != null}" type="text" class="form-control" id="txtDescription" name="description" value="-" readonly>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#staticModalLabel").text($("#txtTitle").text());
        
    })
</script>