<span class="d-none" th:text="${title}" id="txtTitle"></span>
<div class="card">
    <div class="card-body">
        <form th:action="@{~/product/save}" id="formAddProduct" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label for="txtName" class="input-group-text col-lg-4">Name  </label>
                <input type="text" class="form-control col-lg-8" id="txtName" name="name">
            </div>
            <div class="form-group mt-4">
                <div class="mt-3 input-group">
                    <label for="txtDeskripsi" class="input-group-text col-lg-4">Price </label>
                    <input type="text" class="form-control col-lg-8" id="txtDeskripsi" name="price">
                </div>
                <div class="mt-3 input-group">
                    <label for="txtDeskripsi" class="input-group-text col-lg-4">Stock </label>
                    <input type="text" class="form-control col-lg-8" id="txtDeskripsi" name="stock">
                </div>
                <div class="mt-3 input-group">
                    <label class="input-group-text col-lg-4" for="categoryId">Pilih Category </label>
                    <select name="categoryId" class="form-select col-lg-8" id="categoryId">
                        <option value="" class="text-center">--Select Category--</option>
                        <option th:if="${category != null}" th:each="item:${category}" th:value="${item.id}" th:text="${item.categoryName}"></option>
                    </select>
                </div>
                <div class="mt-3 input-group">
                    <label for="variantId" class="input-group-text col-lg-4">Pilih variant&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
                    <select name="variantId" id="variantId" class="form-select col-lg-8">
                        <option value="" class="text-center">--Select Category First--</option>
                    </select>
                </div>
                <div class="mt-3">
                    <label class="form-label col-lg-4">Image : </label>
                    <input type="file" class="form-control col-lg-8" id="Setimage" name="Setimage" accept="image/*">
                    <img id="imagePreview" src="#" alt="Image Preview" style="display:none; margin-top: 10px; max-width: 100%; height: auto;">
                </div>
            <div class="form-group">
            <div class="d-flex justify-content-end mt-3">
                <input type="hidden" name="createBy" value="1">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#staticBackdropLabel').text($('#txtTitle').text());

        $('#categoryId').change(function(e){
            var categoryId = $(this).val();
            $.ajax({
                url : "variant/category/"+categoryId,
                success:function(apiResponse){
                    console.log(apiResponse);
                    $("#variantId").empty();
                    $.each(
                    apiResponse,
                    function(idx, variant) {
                        $("#variantId").append(`<option value='${variant.id}'>${variant.name}</option>`);
                    }
                 );
                },
                error:function(errResponse){
                    alert("Error : "+errResponse.responseText);
                }
            });
        })

        $("#Setimage").change(function() {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview').attr('src', e.target.result);
                $('#imagePreview').show();
            }
            reader.readAsDataURL(this.files[0]);
        });

        $("#formAddProduct").validate({
            "rules" :{
                "name" : {
                    "required":true,
                    "maxlength" : 100,
                    "minlength" : 3
                },
                "price" : {
                    "digits":true
                },
                "stock":{
                    "digits":true
                },
                "Setimage" : {
                    "extension" : "jpg|jpeg|png"
                }
            },
            "messages" : {
                "Setimage" : "Gambar Harus Berupa JPG, JPEG, PNG"
            },
            "errorClass" : "text-danger"
        });

        $("#formAddProduct").submit(function(e){
            e.preventDefault();

            if($("#formAddProduct").valid()){
                var formData = new FormData(this);
                $.ajax({
                    url :"/product/save",
                    type : "post",
                    data : formData,
                    processData: false,
                    contentType: false,
                    success:function(response){
                        Swal.fire({ 
                            title: "success",
                            text: "Data Berhasil Di Tambah",
                            icon: "success",  
                            confirmButtonColor: "#3085d6",
                            confirmButtonText: "Ok"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    },
                    error:function(errResponse){
                        Swal.fire({
                            title: "Error",
                            text: errResponse.responseText,
                            icon: "error"
                        });
                    }
                });
            }
        });
    });
</script>