<span class="d-none" th:text="${title}" id="txtTitle"></span>
<div class="card">
    <div class="card-body" th:each="item:${product}">
            <div class="form-group">
                <label for="txtName" class="form-label">Name : </label>
                <input type="text" class="form-control-plaintext" id="txtName" name="name" th:value="${item.name}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="txtDeskripsi" class="form-label">Price : </label>
                <input type="text" class="form-control-plaintext"th:value="${item.price}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="txtDeskripsi" class="form-label">Stock : </label>
                <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="deskripsi" th:value="${item.stock}" readonly>
            </div>
            <div class="form-group mt-3">
                <label for="txtDeskripsi" class="form-label">Variant : </label>
                <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="deskripsi" th:value="${item.variantName}" readonly>
            </div>

            <div class="form-group mt-3">
                <label for="txtDeskripsi" class="form-label">Category : </label>
                <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="deskripsi" th:value="${item.categoryName}" readonly>
            </div>

            <div class="form-group mt-2">
                <label for="txtDeskripsi" class="form-label">Image : </label><br>
                <img
                th:if="${item.image}!=null"
                th:src="@{'lib/images/'+${item.image}}"
                alt="product"
                class="img-thumbnail">
                
                <img th:unless="${item.image}!=null"
                th:src="@{'lib/no-image.png'}"
                alt="product"
                class="img-thumbnail">
            </div>
            <br>
            <div class="grid border-top border-white">
                <div class=" row">
                    <div class="col-3">
                        <label for="txtDeskripsi" class="form-label">Create By : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="createBy" th:value="${item.createBy}" readonly>
                    </div>
        
                    <div class="col-9">
                        <label for="txtDeskripsi" class="form-label">Create Date : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="createDate" th:value="${item.createDate}" readonly>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-3">
                        <label for="txtDeskripsi" class="form-label">Update By : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="updateby" th:value="${item.updateBy}" readonly>
                    </div>
        
                    <div class="col-9">
                        <label for="txtDeskripsi" class="form-label">Update Date : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="updateDate" th:value="${item.updateDate}" readonly>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#staticBackdropLabel').text($('#txtTitle').text());
    });
</script>