<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
  <div class="card-body">
    <form
      th:action="@{~/product/update}"
      id="formEditVariant"
      class="d-grid gap-3"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="id" id="txtId" th:value="${product.id}" />
      <input type="hidden" name="updateBy" id="txtUpdateBy" value="2" />
      <!-- Image Preview Section -->
      <div
        th:if="${product.image != null}"
        id="imagePreview"
        class="d-flex justify-content-center"
      >
        <div class="ratio ratio-1x1" style="width: 250px">
          <img
            th:src="@{'lib/images/'+${product.image}}"
            alt="Image Preview"
            style="object-fit: cover"
          />
        </div>
      </div>
      <div
        th:unless="${product.image != null}"
        id="imagePreview"
        class="d-none d-flex justify-content-center"
      >
        <div class="ratio ratio-1x1" style="width: 250px">
          <img src="#" alt="Image Preview" style="object-fit: cover" />
        </div>
      </div>
      <div class="form-group">
        <label for="formFile" class="form-label">Update Product Image</label>
        <input type="hidden" name="existingImage" th:value="${product.image}" />
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="setImage"
          accept="image/*"
        />
        <small id="fileError" class="text-danger d-none"></small>
      </div>
      <div class="form-group">
        <label for="txtName" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="txtName"
          name="name"
          th:value="${product.name}"
        />
      </div>
      <div class="form-group">
        <label for="txtPrice" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="txtPrice"
          name="price"
          th:value="${product.price}"
        />
      </div>
      <div class="form-group">
        <label for="txtStock" class="form-label">Stock</label>
        <input
          type="number"
          class="form-control"
          id="txtStock"
          name="stock"
          th:value="${product.stock}"
        />
      </div>
      <div class="form-group">
        <label for="slcVariant" class="form-label">Variant</label>
        <select id="slcVariant" class="form-select" name="variantId">
          <option
            th:each="item:${variants}"
            th:text="${item.name}"
            th:value="${item.id}"
            th:selected="${item.id == product.variantId}"
          >
            Variant Name
          </option>
        </select>
      </div>
      <div class="text-right d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-edit"></i> Update
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#staticModalLabel").text($("#txtTitle").val());
    const allowedExtensions = /\.(jpg|jpeg|png)$/i;

    // Preview selected image
    $("#formFile").on("change", function () {
      const file = this.files[0];
      const errorElement = $("#fileError");
      const previewContainer = $("#imagePreview");
      const previewImage = $("#imagePreview img");
      if (file) {
        if (!allowedExtensions.test(file.name)) {
          errorElement
            .removeClass("d-none")
            .text("Please upload a valid image file (JPEG or PNG only).");
          $(this).val("");
          previewContainer.addClass("d-none");
          previewImage.attr("src", "#");
          return;
        }

        errorElement.addClass("d-none").text("");
        const reader = new FileReader();
        reader.onload = function (e) {
          previewContainer.removeClass("d-none");
          previewImage.attr("src", e.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        previewContainer.addClass("d-none");
        previewImage.attr("src", "#");
      }
    });

    $.validator.addMethod(
      "checkFileExtension",
      function (value, element) {
        if (value) {
          return allowedExtensions.test(value);
        }
        return true;
      },
      "Please upload a valid image file (jpg, jpeg, png, gif)."
    );
    $("#formEditVariant").validate({
      rules: {
        name: {
          required: true,
          maxlength: 100,
          minlength: 3,
        },
        stock: {
          digits: true,
        },
        image: {
          checkFileExtension: true,
        },
        variantId: {
          required: true,
        },
      },
      errorClass: "text-danger",
    });

    $("#formEditVariant").submit(function (e) {
      e.preventDefault();

      if ($("#formEditVariant").valid()) {
        let formData = new FormData(this);
        $.ajax({
          url: "/product/update",
          type: "post",
          data: formData,
          processData: false,
          contentType: false,
          // dataType: "json",
          beforeSend: () => {
            // alert("Mengirim data ke API");
          },
          success: function (response) {
            alert("Product " + response.name + " successfully update!");
            location.reload();
          },
          error: function (errResponse) {
            console.error("Update Product Failed: " + errResponse.responseText);
          },
        });
      }
    });
  });
</script>
