<span class="d-none" th:text="${title}" id="txtTitle"></span>
<div class="card">
    <div class="card-body" th:each="products:${product}">
        <form th:action="@{~/product/update}" id="formEditProduct" method="post" enctype="multipart/form-data">
            <input name="id" id="txtId" th:value="${products.id}" type="hidden">
            <input name="updateBy" id="txtUpdate" value="2" type="hidden">
            <div class="form-group">
                <label for="txtName" class="form-label">Name : </label>
                <input type="text" class="form-control" id="txtName" name="name" th:value="${products.name}">
            </div>
            <div class="form-group mt-4">
                <div class="mt-3"></div>
                <label for="txtDeskripsi" class="form-label">Price : </label>
                <input type="text" class="form-control" id="txtDeskripsi" name="price" th:value="${products.price}">
                <div class="mt-3"></div>
                <label for="txtDeskripsi" class="form-label">Stock : </label>
                <input type="text" class="form-control" id="txtDeskripsi" name="stock" th:value="${products.stock}">
                <div class="mt-3"></div>
                <label for="txtDeskripsi" class="form-label">Pilih variant : </label><br>
                <select name="variantId" class="form-select">
                    <option th:each="itemC:${variant}" th:if="${products.variantId == itemC.id}" th:text="${itemC.name}" th:value="${products.variantId}"></option>
                    <option th:each="item:${variant}" th:if="${products.variantId != item.id}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
                <div class="mt-3">
                <label for="Setimage" class="form-label">Image : </label>
                <input type="file" class="form-control" id="Setimage" name="Setimage" accept="image/*" >
                <input type="hidden" name="image" th:value="${products.image}">
            <div class="form-group">
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#staticBackdropLabel').text($('#txtTitle').text());
        $("#formEditProduct").validate({
            "rules" :{
                "name" : {
                    "required":true,
                    "maxlength" : 100,
                    "minlength" : 3
                },
                "description" : {
                    "maxlength" : 255
                },
                "price" : {
                    "number":true
                },
                "stock":{
                    "digits":true
                },
                "Setimage" : {
                    "extension" : "jpg|jpeg|png"
                }
            },
            "messages" : {
                "Setimage" : "File harus berupa gambar"
            },
            "errorClass" : "text-danger"
        });

        $("#formEditProduct").submit(function(e){
            e.preventDefault();
            if($("#formEditProduct").valid()){
                var formData = new FormData(this);
                $.ajax({
                    url :"/product/update",
                    type : "post",
                    data : formData,
                    processData: false,
                    contentType: false,
                    beforeSend : () => {
                        alert("Mengirim Data");
                    },
                    success:function(response){
                        alert("Product "+response.name + " Berhasil di Update");
                        location.reload();
                    },
                    error:function(errResponse){
                        alert("Update Product Gagal : " + errResponse.responseText);
                    }
                });
            }
        });
    });
</script>