<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <style>
        nav{
            background-color: #6C757D;
            color: white;
        }
    </style>
      </style>
      <div class="">
        <h1>Product List</h1>
        <button class="btn btn-success" type="button">
          <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
        </button>
        <hr style="opacity: 1" />
      </div>
      <div class="">
        <table class="table table-bordered mt-2 table-hover text-center border-white" id="tblProduct">
          <thead>
            <tr>
              <th class="col-1 text-center">Image</th>
              <th class="col-1 text-center">Id</th>
              <th class="col-4 text-center">Nama Product</th>
              <th class="col-2 text-center">Category</th>
              <th class="col-1 text-center">Variant</th>
              <th class="col-1 text-center">Price</th>
              <th class="col-1 text-center">Stock</th>
              <th class="col-2 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="https://media.istockphoto.com/id/1256689274/id/vektor/ilustrasi-spaghetti-carbonara-pasta.jpg?s=612x612&w=0&k=20&c=1y2wMd9n0xWU-sJjl7odEBdEDFfBu0DZJHLojF3tQCE="
                  alt="product"
                  class="img-thumbnail rounded-circle"
                />
              </td>

              <td>1</td>
              <td>Carbonara</td>
              <td>Main Course</td>
              <td>Pasta</td>
              <td>50000</td>
              <td>10</td>
              <td>
                <div
                  class="btn-group d-flex justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example"
                >
                <button type="button" class="btn btn-success" title="Edit"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-warning" title="Detail"><i class="fas fa-info"></i></button>
                <button type="button" class="btn btn-danger" title="Delete"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <script>
        new DataTable('#tblProduct');
      </script>
    </div>
  </body>
</html>
