<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="">
        <h1>Product List</h1>
        <button class="btn btn-success" type="button">
          <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
        </button>
        <hr style="opacity: 1" />
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span>Show : </span>
          <input type="text" />
          <span>Entries</span>
        </div>
        <form>
          <span>Search : </span>
          <input type="text" />
          <a class="btn btn-primary"
            ><i class="fas fa-search"></i>&nbsp;&nbsp;Find</a
          >
        </form>
      </div>
      <div class="">
        <table class="table table-bordered mt-2 table-hover text-center">
          <thead>
            <tr>
              <th>Image</th>
              <th>Id</th>
              <th>Nama Product</th>
              <th>Category</th>
              <th>Variant</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Is delete</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 5%">
                <img
                  src="https://media.istockphoto.com/id/1256689274/id/vektor/ilustrasi-spaghetti-carbonara-pasta.jpg?s=612x612&w=0&k=20&c=1y2wMd9n0xWU-sJjl7odEBdEDFfBu0DZJHLojF3tQCE="
                  alt="product"
                  class="img-thumbnail rounded-circle img-thumbnail"
                />
              </td>

              <td>1</td>
              <td>Carbonara</td>
              <td>Main Course</td>
              <td>Pasta</td>
              <td>50000</td>
              <td>10</td>
              <td>false</td>
              <td>
                <div
                  class="btn-group d-flex justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example"
                >
                  <button type="button" class="btn btn-success">Edit</button>
                  <button type="button" class="btn btn-warning">Detail</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="">
        <ul class="pagination justify-content-start">
          <li class="page-item disabled">
            <a class="page-link"><i class="fas fa-arrow-left"></i></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
