<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <style>
        nav {
          background-color: #6c757d;
          color: white;
        }
      </style>
      <div class="">
        <h1>Product List</h1>
        <button
        class="btn btn-success"
        type="button"
        id="btnAdd"
        data-bs-toggle="modal"
        data-bs-target="#staticModal"
      >
        <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
      </button>
        <hr style="opacity: 1" />
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <div class="input-group">
                <input type="text" th:value="${product.totalElements}" style="width: 50px;" class="form-control" disabled readonly>
                <span class="input-group-text">Entries</span>
            </div>
          </div>
          <form class="input-group w-25">
            <input
              th:if="${filter != null and !filter.isEmpty()}"
              th:value="${filter}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari Product atau Category atau Variant"
            />
            <input
              th:unless="${filter != null and !filter.isEmpty()}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari Product, Category, Variant"
            />
            <button type="submit" class="input-group-text" title="Filter">
              <i class="fas fa-filter"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="">
        <table
          class="table table-bordered mt-2 table-hover text-center border-white"
          id="tblProduct"
        >
          <thead>
            <tr>
              <th class="col-1 text-center">Id</th>
              <th class="col-1 text-center">Image</th>
              <th class="col-3 text-center">Nama Product</th>
              <th class="col-2 text-center">Category</th>
              <th class="col-2 text-center">Variant</th>
              <th class="col-1 text-center">Price</th>
              <th class="col-1 text-center">Stock</th>
              <th class="col-1 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item:${product.content}" class="text-center">
              <td th:text="${item.id}" class="text-center">1</td>
              <td>
                <img
                  th:if="${item.image}!=null"
                  th:src="@{'lib/images/'+${item.image}}"
                  alt="product"
                  class="img-thumbnail rounded-circle"
                  style="width: 350px; height: 100px"
                />

                <img
                  th:unless="${item.image}!=null"
                  th:src="@{'lib/no-image.png'}"
                  alt="product"
                  class="img-thumbnail rounded-circle"
                  style="width: 350px; height: 100px"
                />
              </td>
              <td th:text="${item.name}" class="text-center">Carbonara</td>
              <td th:text="${item.categoryName}"></td>
              <td th:text="${item.variantName}"></td>
              <td th:text="${item.price}" class="text-center">50000</td>
              <td th:text="${item.stock}" class="text-center">10</td>
              <td>
                <div
                  class="btn-group d-flex justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example"
                >
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-info"
                    title="Edit"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-warning"
                    title="Detail"
                  >
                    <i class="fas fa-info"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-danger"
                    title="Delete"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <div class="d-flex justify-content-between">
                  <div class="input-group" style="width: 15%;">
                    <label class="input-group-text">Show</label>
                    <select name="pageSize" id="pageSize" class="form-control">
                      <option th:each="i : ${#numbers.sequence(10, 20, 5)}" th:value="${i}" th:text="${i}" th:selected="${i == pageSize}"></option>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text">Entries</span>
                    </div>
                  </div>
                  <div>
                        <button
                        type="button"
                        class="btn btn-primary"
                        id="prevBTN"
                        title="Previous">
                        <i class="fas fa-arrow-left"></i>
                      </button>
                      <span
                        th:text="|Page ${product.number+1} of ${product.totalPages}|"
                        >Page 1</span
                      >
                      <button
                        type="button"
                        class="btn btn-primary"
                        id="nextBTN"
                        title="Next"
                      >
                        <i class="fas fa-arrow-right"></i>
                  </button>
                  </div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <script th:inline="javascript">
        $(document).ready(function(){          
          let isFirstpage=/*[[${product.first}]]*/true;
          let isLastPage=/*[[${product.last}]]*/false;
          $("#prevBTN").prop("disabled",isFirstpage);
          $("#nextBTN").prop("disabled",isLastPage);
        });

        $("#btnAdd").click(function (e) {
          $("#staticModalBody").load("/product/add");
        });

        $("#tblProduct").on("click", ".btn-info", function (e) {
          let catId = $(this).data("id");
          $("#staticModalBody").load("/product/edit/" + catId);
          $("#staticModal").modal("show");
        });

        $("#tblProduct").on("click", ".btn-warning", function (e) {
          let catId = $(this).data("id");

          $("#staticModalBody").load("/product/detail/" + catId);
          $("#staticModal").modal("show");
        });

        $("#tblProduct").on("click", ".btn-danger", function (e) {
          let catId = $(this).data("id");
          $("#staticModalBody").load("/product/delete/" + catId);
          $("#staticModal").modal("show");
        });

        $("#prevBTN").click(function(e){
          let filter=$("#txtFilter").val();
          let currPageSize=/*[[${pageSize}]]*/0;
          let page=/*[[${product.number}]]*/0;
          
          location.href="/product?filter="+filter+"&number="+(page-1)+"&page="+currPageSize;
        })

        $("#nextBTN").click(function(e){
          let filter=$("#txtFilter").val();
          let currPageSize=/*[[${pageSize}]]*/0;
          let page=/*[[${product.number}]]*/0;
          
          location.href="/product?filter="+filter+"&number="+(page+1)+"&page="+currPageSize;
        })

        $("#pageSize").change(function(e){
              let filter=$("#txtFilter").val();
              let currPageSize=$("#pageSize").val();
              let page=/*[[${product.number}]]*/0;
              
              location.href="/product?filter="+filter+"&number="+page+"&page="+currPageSize;
        })
      </script>
    </div>
  </body>
</html>
