<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Product List</h2>
        <button
          id="btnAdd"
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
        >
          Add
        </button>
      </div>
      <div class="container mt-3">
        <div class="d-flex justify-content-between">
          <div class="w-25">
            <form action="" class="input-group mb-3 align-items-center">
              <label for="show" class="me-3">Show</label>
              <select
                id="selectEntries"
                name="currPageSize"
                class="form-select"
              >
                <option value="5" th:selected="${product.size == 5}">5</option>
                <option value="10" th:selected="${product.size == 10}">
                  10
                </option>
                <option value="25" th:selected="${product.size == 25}">
                  25
                </option>
                <option value="50" th:selected="${product.size == 50}">
                  50
                </option>
              </select>
            </form>
          </div>
          <div class="w-50">
            <form
              action=""
              class="input-group justify-content-end align-items-center"
            >
              <label for="search" class="me-3">Search</label>
              <input
                th:if="${filter!=null}"
                name="filter"
                type="text"
                id="txtFilter"
                class="form-control"
                placeholder="Cari..."
                th:value="${filter}"
              />
              <input
                th:unless="${filter!=null}"
                name="filter"
                type="text"
                id="txtFilter"
                class="form-control"
                placeholder="Cari..."
              />
              <button class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="container bg-light border border-1 rounded">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">ID</th>
                <th scope="col">Nama Product</th>
                <th scope="col">Category</th>
                <th scope="col">Variant</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody th:if="${!product.empty}">
              <tr th:each="item : ${product.content}">
                <td class="align-middle">
                  <div
                    th:if="${item.image!=null}"
                    class="ratio ratio-1x1"
                    style="width: 70px"
                  >
                    <img
                      th:src="@{'lib/images/'+${item.image}}"
                      th:alt="${item.name}"
                      class="img-thumbnail rounded-circle"
                      style="object-fit: cover"
                    />
                  </div>
                </td>
                <th class="align-middle" scope="row" th:text="${item.id}">6</th>
                <td class="align-middle" th:text="${item.name}">Carbonara</td>
                <td class="align-middle" th:text="${item.categoryName}">
                  Main Course
                </td>
                <td class="align-middle" th:text="${item.variantName}">
                  Pasta
                </td>
                <td class="align-middle" th:text="${item.price}">Rp 35000</td>
                <td class="align-middle" th:text="${item.stock}">1</td>
                <td class="align-middle">
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-success btn-edit"
                    title="Edit..."
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-warning btn-detail"
                    title="Details..."
                  >
                    <i class="fas fa-list"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-danger btn-delete"
                    title="Delete..."
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            th:unless="${!product.empty}"
            class="text-center text-danger"
            style="min-height: 250px"
            th:text="${errorMsg}"
          >
            Error
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p th:text="|Page ${product.number+1} of ${product.totalPages}|">
            Page <span>0</span>of <span>0</span>
          </p>
          <ul class="pagination">
            <li id="btnPrev" class="page-item">
              <button class="page-link">Previous</button>
            </li>
            <li id="btnNext" class="page-item">
              <button class="page-link">Next</button>
            </li>
          </ul>
        </div>
      </div>
      <script th:inline="javascript">
        let prodId;
        $(document).ready((e) => {
          $("#selectEntries").on("change", function () {
            let currPageSize = $(this).val();
            let filter = $("#txtFilter").val();
            location.href = `/product?filter=${filter}&currPageSize=${currPageSize}`;
          });

          let isFirstPage = /*[[${product.first}]]*/ true;
          let isLastPage = /*[[${product.last}]]*/ false;

          $("#btnPrev").addClass(isFirstPage ? "disabled" : "");
          $("#btnNext").addClass(isLastPage ? "disabled" : "");
          $("#btnPrev > button").prop("disabled", isFirstPage);
          $("#btnNext > button").prop("disabled", isLastPage);
        });
        $("#btnAdd").click(function (e) {
          $("#staticModalLgBody").load("/product/add");
          $("#staticModalLg").modal("show");
        });
        $(".btn-edit").click(function (e) {
          let catId = $(this).data("id");

          $("#staticModalLgBody").load("/product/edit/" + catId);
          $("#staticModalLg").modal("show");
        });
        $(".btn-detail").click(function (e) {
          let catId = $(this).data("id");
          $("#staticModalLgBody").load("/product/" + catId);
          $("#staticModalLg").modal("show");
        });
        $(".btn-delete").click(function (e) {
          let catId = $(this).data("id");
          $("#staticModalLgBody").load("/product/delete/" + catId);
          $("#staticModalLg").modal("show");
        });
        $("#btnPrev > button").click(function (e) {
          let filter = $("#txtFilter").val();
          let currPageSize = /*[[${currPageSize}]]*/ 0;
          let pageNumber = /*[[${product.number}]]*/ 0;

          location.href = `/product?filter=${filter}&pageNumber=${
            pageNumber - 1
          }&currPageSize=${currPageSize}`;
        });
        $("#btnNext > button").click(function (e) {
          let filter = $("#txtFilter").val();
          let currPageSize = /*[[${currPageSize}]]*/ 0;
          let pageNumber = /*[[${product.number}]]*/ 0;

          location.href = `/product?filter=${filter}&pageNumber=${
            pageNumber + 1
          }&currPageSize=${currPageSize}`;
        });
      </script>
    </div>
  </body>
</html>
