<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:replace="~{fragments/home/hero}"></div>
      <!-- <div th:replace="~{fragments/home/feature}"></div> -->
    </div>
  </body>
</html>
