<!DOCTYPE html>
<html lang="en"
layout:decorate="~{fragments/layout}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Welcome</h1>
        <hr style="opacity: 1;">
        <p>Ini adalah text dari Session['coba'] = 
            <span th:if=" ${txtSesi != null} " th:text=" ${txtSesi} "></span>
            <span th:unless="${txtSesi != null} " th:text="${txtSesi}"></span>
        </p>
        <div>
            <form action="/setSesi">
                <input type="text" name="sesi" class="form-control">
                <button type="submit" class="btn btn-primary" data-bs-toogle="modal" data-bs-target="#staticModal">Update Session['coba']</button>
            </form>
        </div>
    </div>
</body>
</html>