<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:replace="~{fragments/home/hero}"></div>
      <p>
        Ini adalah text dari session 'coba' =
        <span th:if="${txtSession != null}" th:text="${txtSession}"></span>
        <span th:unless="${txtSession != null}">No txtSession</span>
      </p>
      <div>
        <form action="/setSession">
          <input type="text" name="txtSession" class="form-control" />
          <button
            type="submit"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#staticModal"
          >
            Update session
          </button>
        </form>
      </div>
      <!-- <div th:replace="~{fragments/home/feature}"></div> -->
    </div>
  </body>
</html>
