<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
	<title>POS313::Variant</title>
</head>
<body>

<div layout:fragment="content">

    <p>
        <h3>Variant
        <button 
            onclick="addform()" 
            style="float:right;"
            class="btn btn-success">
            +
        </button>
        </h3>
    </p>

    <table class="table" id="variantTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Initial</th>
                <th>Name</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, key:${variantdata}">
                <td th:text="${key.count}"></td>
                <td th:text="${item.category.Name}"></td>
                <td th:text="${item.Initial}"></td>
                <td th:text="${item.Name}"></td>
                <td th:text="${item.Active}"></td>
                <td>
                    <button class="btn btn-warning" th:value="${item.Id}" onclick="edit(this.value)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" th:value="${item.Id}" onclick="del(this.value)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

<script>
$(document).ready(function () {
    $('#variantTable').DataTable();
});

function addform() {
    $.ajax({
        url:'/variant/form',
        type:'GET',
        contentType:'html',
        success:function(result) {
            $('#mymodal').modal('show');
            $('.modal-title').html('Add Variant');
            $('.modal-body').html(result);
        }
    });
}

function edit(id) {
    $.ajax({
        url:'/variant/edit/' + id,
        type:'GET',
        contentType:'html',
        success:function(result) {
            $('#mymodal').modal('show');
            $('.modal-title').html('Edit Variant');
            $('.modal-body').html(result);
        }
    });
}

function del(id) {
    $.ajax({
        url:'/variant/delete/' + id,
        type:'GET',
        contentType:'html',
        success:function(result) {
            $('#mymodal').modal('show');
            $('.modal-title').html('Delete Variant');
            $('.modal-body').html(result);
        }
    });
}
</script>


</div>

</body>
</html>