<div class="footer bg-dark text-white d-flex flex-column align-items-center container-fluid mt-5">
    
    <div class="footerTop d-flex w-100 justify-content-around pt-2">
        <a href="https://www.instagram.com/"><img class="medsos ig" src="" alt="">instagram</a>
        <a href="https://www.facebook.com/"><img class="medsos fb" src="" alt="">facebook</a>
        <a href="https://www.twitter.com/"><img class="medsos twitter" src="" alt="">twitter</a>
        <a href="https://www.youtube.com/"><img class="medsos youtube" src="" alt="">youtube</a>
        <a href="https://mail.google.com/mail/u/0/"><img class="medsos gmail" src="" alt="">google-plus</a>
    </div>
    <br>
    <div class="footerMain d-flex justify-content-around">
        <div class="About-us w-25">
            <h2>Caffein Line</h2>
            <br>
            <div><p><b>Caffeine Line</b> is a company created by three college students from Binus University that inspired to create a cafe with an affordable price and premium taste that students can enjoy it.</p></div>
        </div>
        <div class="address d-flex flex-column align-items-center">
            <h2>Headquarters Address</h2>
            <br>
            <div><p>St. Jalur Sutera Bar., RT.001/RW.004, Panunggangan Tim.,districts Pinang,Tangerang City, Banten 15143</p></div>
        </div>
        <div class="FooterContact w-25">
            <div class="d-flex  justify-content-center flex-column align-items-end m-0">
                <h2>Contact</h2>
                <p class="contact">BantenBT 15415BTN</p>
                <p class="contact">CaffeinlineID@email.com</p>
                <p class="contact">+021 1234567</p>
                <p class="contact">+021 7654321</p>\
            </div>
        </div>
    </div>
    <div class="footerBot w-50">
        <div class="footBotContent d-flex justify-content-center">
            <div><p>Terms & Conditions</p></div>
            <div><p>©COPYRIGHT 2021 <b>Caffein Line Company</b></p></div>
        </div>
    </div>
</div>