Emai<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
	<title>POS272::User</title>
</head>
<body>

<div layout:fragment="content">
<h1>User Page</h1>

<button class="btn btn-success" style="float:right;" onclick="formtambah()">+ Tambah Data</button>

<table class="table" id="tableuser">
<thead>
	<tr>
		<th>User Name</th>
		<th>Password</th>
		<th>Full Name</th>
		<th>Active</th>
		<th>Photo</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	<tr th:each="item:${listuser}">
		<td th:text="${item.UserName}"></td>
		<td th:text="${item.Password}"></td>
		<td th:text="${item.FullName}"></td>
		<td th:text="${item.Active}"></td>
		<td><img th:src="@{${'/images/' + item.photo}}" height="50"></td>
		<td>
			<button class="btn btn-primary" onclick="editform(this.value)" th:value="${item.Id}">E</button>
			<button class="btn btn-danger" onclick="_delete(this.value)" th:value="${item.Id}">X</button>
		</td>
	</tr>
</tbody>
</table>

<script>

$(document).ready( function () {
    $('#tableuser').DataTable();
});

function formtambah() {
	//window.open("/users/addform","_self");
	
	$.ajax({
		url:'/users/addform',
		type:'get',
		contentType:'html',
		success:function(result) {
			$('#mymodal').modal('show')
			$('.modal-title').html('Form tambah data')
			$('.modal-body').html(result)
		}
	})
}

function editform(id) {
	$.ajax({
		url:'/users/edit/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$('#mymodal').modal('show')
			$('.modal-title').html('Form edit data')
			$('.modal-body').html(result)
		}
	})
}

function _delete(id) {
	/*
	var conf = window.confirm("Yakin mau menghapus data ini?");
	if(conf) {
		window.open('/users/delete/'+id, '_self');
	}
	*/
	$.ajax({
		url:'/users/deleteform/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$('#mymodal').modal('show')
			$('.modal-title').html('Form delete data')
			$('.modal-body').html(result)
		}
	})	
	
}
</script>

</div>

</body>
</html>
