#div-flex{
    display: flex;
    gap: 10px;
}

p{
    font-family: inherit;
}

.p1{
    margin-top: 50px;
}

.div1{
    background-color: yellow;
    width: 50%;
    color: black;
}

.div2{
    background-color: aqua;
    width: 50%;
    color: black;
}

table{
    width: 50%;
    margin-top: 5px;
}

#div-nav{
    width: 50%;
    margin: 3px auto;
}

td,th{
    border: 1px solid black;
    text-align: center;
}
