div{
    display: flex;
}

p{
    width: 50%;
    font-family: inherit;
}

.div1{
    background-color: yellow;
    width: 50%;
}

.div2{
    background-color: aqua;
    width: 50%;
}

table{
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

td,th{
    border: 1px solid black;
    border-radius: 1px;
    align-content: center;
    align-items: center;
    text-align: center;
}
