<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="page-heading">
            <div class="d-flex justify-content-between">
                <div class="h3">Profile</div>
                <button type="button" class="btn btn-primary btn-sm" id="btnAdd" data-bs-toggle="modal" data-bs-target="#staticModal">ADD DATA</button>
            </div>
        </div>
        <div class="page-content">
            Hai
        </div>
        <script>

        </script>
    </div>
</body>
</html>

