<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <title>Product</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <span class="h1">Product List</span>
      </div>
      <hr />

      <div>
        <div>
          <button
            class="btn btn-success btn-sm"
            type="button"
            id="btnAdd"
            data-bs-target="#staticModal"
            data-bs-toggle="modal"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="text-black fst-italic mt-2 mb-2">
          Tanggal = 9/26/2025 10:30:14 AM
        </div>
        <div
          class="d-flex justify-content-between mb-4"
          th:if="${product != null}"
        >
        <div class="w-50">
          <div class="w-auto input-group">
            <label class="input-group-text">Page Size</label>
            <select class="form-select" name="currPageSize" id="pageSize">
              <option th:each="i : ${#numbers.sequence(5,20,5)}" th:value="${i}" th:text="${i}" th:selected="${i == currPageSize}"></option>
            </select>
          </div>
        </div>
        
          <span class="w-50">&nbsp;</span>
          <div class="col-12 col-lg-6">
            <form id="frmFilter">
              <div class="input-group">
                <input
                  th:if="${filter != null}"
                  th:value="${filter}"
                  name="filter"
                  type="text"
                  id="txtFilter"
                  class="form-control"
                  placeholder="Name or Description..."
                />
                <input
                  th:unless="${filter != null}"
                  name="filter"
                  type="text"
                  id="txtFilter"
                  class="form-control"
                  placeholder="Name or Description..."
                />
                <button type="submit" class="input-group-text">
                  <i
                    class="fas fa-filter"
                    title="Filter by Name or Description..."
                  ></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <table class="table table-success table-striped table-hover">
          <thead>
            <tr>
              <th>Image</th>
              <th><a th:data-orderby="${orderId}">ID</a></th>
              <th><a th:data-orderby="${orderName}">Name</a></th>
              <th><a th:data-orderby="${orderCategory}">Category</a></th>
              <th><a th:data-orderby="${orderVariant}">Variant</a></th>
              <th><a th:data-orderby="${orderPrice}">Price</a></th>
              <th><a th:data-orderby="${orderStock}">Stock</a></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody th:if="${product.empty != null}">
            <tr th:if="${!product.empty}" th:each="item:${product.content}">
              <td>
                <img
                  th:src="@{'/lib/images/' + ${item.image}}"
                  alt="Product Image"
                  class="img-thumbnail"
                  style="max-width: 100px; max-height: 100px; border:none"
                />
              </td>
              <td th:text="${item.id}">ID</td>
              <td th:text="${item.name}">Name</td>
              <td th:text="${item.categoryName}">category</td>
              <td th:text="${item.variant}">Variant</td>
              <td>
                <span>Rp. </span> <span th:text="${item.price}">Price</span>
              </td>
              <td th:text="${item.stock}">Stock</td>
              <td>
                <div class="btn-group">
                  <button th:data-id="${item.id}" class="btn btn-success">
                    Edit
                  </button>
                  <div class="mx-1"></div>
                  <button th:data-id="${item.id}" class="btn btn-warning">
                    <span class="text-white">Details</span>
                  </button>
                  <div class="mx-1"></div>
                  <button th:data-id="${item.id}" class="btn btn-danger">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
						<tr>
							<td colspan="8" class="text-center">
								<div class="btn-group">
									<button id="btnPrev" title="Previous Page..." class="btn btn-secondary"><i class="fas fa-backward"></i></button>
									<span class="input-group-text text-end" id="pagePosition" th:text="|Page ${product.number+1} of ${product.totalPages}|"></span>
									<button id="btnNext" title="Next Page..." class="btn btn-secondary"><i class="fas fa-forward"></i></button>
								</div>
							</td>
						</tr>
					</tfoot>
        </table>
        <div
          th:unless="${product != null}"
          th:text="${errorMsg}"
          class="text h6 text-danger text-center"
        ></div>
        <div class="mb-5"></div>
      </div>
      <script th:inline="javascript">
        let prodId;

        $(document).ready(function(e){
          let isFirstPage = /*[[${product.first}]]*/true;
          let isLastPage = /*[[${product.last}]]*/false;

          $("#btnPrev").prop("disabled", isFirstPage);
          $("#btnNext").prop("disabled", isLastPage);
        });

        $("#btnPrev").click(function(e){
          let filter = $("#txtFilter").val();
          let currPageSize = /*[[${currPageSize}]]*/0;
          let pageNumber = /*[[${product.number}]]*/0;

          location.href=`/product?filter=${filter}&pageNumber=${(pageNumber-1)}&currPageSize=${currPageSize}`;
        })

        $("#btnNext").click(function(e){
          let filter = $("#txtFilter").val();
          let currPageSize = /*[[${currPageSize}]]*/0;
          let pageNumber = /*[[${product.number}]]*/0;

          location.href=`/product?filter=${filter}&pageNumber=${(pageNumber+1)}&currPageSize=${currPageSize}`;
        })


        $("#btnAdd").click(function (e) {
          $("#staticModalBody").load("product/add");
        });

        $(".btn-success").click(function (e) {
          let catId = $(this).data("id");

          $("#staticModalBody").load("product/edit/" + catId);
          $("#staticModal").modal("show");
        });

        $(".btn-warning").click(function (e) {
          let catId = $(this).data("id");

          $("#staticModalBody").load("product/" + catId);
          $("#staticModal").modal("show");
        });

        $(".btn-danger").click(function (e) {
          let catId = $(this).data("id");

          $("#staticModalBody").load("product/delete/" + catId);
          $("#staticModal").modal("show");
        });

        $("#pageSize").change(function(e) {
					let filter = $("#txtFilter").val();
					let currPageSize = $(this).val();
					let pageNumber = /*[[${product.number}]]*/0;

					location.href = `/product?filter=${filter}&pageNumber=${(pageNumber)}&currPageSize=${currPageSize}`;
				});

        $("th > a").click(function(e){
          let filter = $("#txtFilter").val();
					let currPageSize = $(this).val();
					let pageNumber = /*[[${product.number}]]*/0;

          let orderBy = $(this).data("orderby");

          location.href=`/product?filter=${filter}&pageNumber=${(pageNumber)}&currPageSize=${currPageSize}&orderBy=${orderBy}`
        })
      </script>
    </div>
  </body>
</html>
