<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>

    <style>
        th>a {
            text-decoration: none;
            color: black;
        }

        th>a:hover {
            cursor: pointer;
            color: brown;
        }

        .sorted {
            font-weight: bold;
            color: #007bff;
        }
    </style>
</head>


<body>
    <div layout:fragment="content">
        <button type="button" class="btn btn-primary mt-2" id="btnAdd" data-bs-toggle="modal"
            data-bs-target="#staticModal">Add</button>
        <div class="d-flex flex-row justify-content-between mt-2">
            <form>
                <div class="input-group container-fluid">
                    <input type="text" class="form-control" placeholder="Total Entries" aria-label="Total Entries"
                        aria-describedby="button-addon2" th:value="${#lists.size(products.content)}" disabled>
                </div>
            </form>
            <form id="frmFilter" class="ms-auto d-flex flex-row">
                <input th:if="${filter != null}" th:value="${filter}" type="text" name="search" id="txtSearch"
                    class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <input th:unless="${filter != null}" type="text" name="search" id="txtSearch" class="form-control"
                    placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary input-group-text" type="submit" id="button-addon2"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
        <!-- Make the table center horizontally -->
        <div class="text-center">
            <table class="table table-striped mb-lg-5" id="tblProduct">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <!-- Primary table not using aliases. Only joined table using aliases -->
                        <th scope="col"><a class="sort-link" data-sort="id">ID</a>
                        </th>
                        <th scope="col"><a class="sort-link" data-sort="name">Nama Product</a>
                        </th>
                        <th scope="col"><a class="sort-link" data-sort="c.category_name">Category Name</a>
                        </th>
                        <th scope="col"><a class="sort-link" data-sort="v.name">Variant Name</a>
                        </th>
                        <th scope="col"><a class="sort-link" data-sort="price">Price</a>
                        </th>
                        <th scope="col"><a class="sort-link" data-sort="stock">Stock</a>
                        </th>
                        <th scope="col">Is Delete</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr th:each="prod:${products.content}">
                        <td><img th:src="@{'/lib/images/' + ${prod.image}}"
                                src="https://images2.minutemediacdn.com/image/upload/c_crop,w_1458,h_820,x_0,y_0/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/images/voltaxMediaLibrary/mmsport/video_games/01j6sekt06zwfkneznn5.jpg"
                                alt="product" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                        </td>
                        <th scope="row" th:text="${prod.id}">1</th>
                        <td th:text="${prod.name}">Carbonara</td>
                        <td th:text="${prod.categoryName}">Main Course</td>
                        <td th:text="${prod.variantName}">Pasta</td>
                        <td th:text="${prod.price}"></td>
                        <td th:text="${prod.stock}"></td>
                        <td th:text="${prod.deleted}"></td>
                        <td>
                            <div class="btn-group" id="myButt">
                                <button th:data-id="${prod.id}" type="button" class="btn btn-success"><i
                                        class="fas fa-edit" id="editProduct"></i></button>
                                <button th:data-id="${prod.id}" type="button" class="btn btn-warning"><i
                                        class="fas fa-info-circle" id="detailProduct"></i></button>
                                <button th:data-id="${prod.id}" type="button" class="btn btn-danger"><i
                                        class="fas fa-trash" id="deleteProduct"></i></button>
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="mt-2 text-center"> <!-- Center content horizontally -->
                                <div class="row justify-content-between">
                                    <div class="col-auto"> <!-- Auto-width column for the select menu -->
                                        <div class="input-group">
                                            <span class="input-group-text">Page Size</span>
                                            <select class="form-select" aria-label="Select Page Size" name="sizeData"
                                                id="sizeData">
                                                <option th:each="i:${#numbers.sequence(5,20,5)}" th:text="${i}"
                                                    th:value="${i}" th:selected="${i == currPageSize}">Open this select
                                                    menu</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-auto"> <!-- Auto-width column for the pagination -->
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <button id="btnPrev" class="page-link">Previous</button>
                                                </li>
                                                <li class="page-item">
                                                    <span class="page-link"
                                                        th:text="|Page ${products.number+1} of ${products.totalPages}|">1</span>
                                                </li>
                                                <li class="page-item">
                                                    <button id="btnNext" class="page-link">Next</button>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- This is for inject the javascript with thymeleaf for getting the data value direct -->
        <script th:inline="javascript">
            $(document).ready(function (e) {
                $("#btnAdd").click(function (e) {
                    $("#staticModalBody").load("product/add")
                    $("#staticModal").modal("show")
                })

                let isFirstPage = /*[[${products.first}]]*/true;
                let isLastPage = /*[[${products.last}]]*/false;

                $("#btnPrev").prop("disabled", isFirstPage)
                $("#btnNext").prop("disabled", isLastPage)

                $("#btnPrev").on("click", function (e) {
                    let search = $("#txtSearch").val()
                    let page = /*[[${products.number}]]*/0;
                    let sizeData = /*[[${currPageSize}]]*/0;
                    location.href = `product?search=${search}&pageNumber=${page - 1}&currPageSize=${sizeData}`
                })

                $("#btnNext").on("click", function (e) {
                    let search = $("#txtSearch").val()
                    let page = /*[[${products.number}]]*/0;
                    let sizeData = /*[[${currPageSize}]]*/0;
                    location.href = "/product?search=" + search + "&pageNumber=" + (page + 1) + "&currPageSize=" + sizeData
                })


                $("#sizeData").on("change", function (e) {
                    let search = $("#txtSearch").val()
                    let page = /*[[${products.number}]]*/0;
                    let sizeData = $("#sizeData").val()
                    location.href = "/product?search=" + search + "&pageNumber=" + page + "&currPageSize=" + sizeData
                })

                // When click at the specific column at the frontend
                let currentSort = new URLSearchParams(window.location.search).get("sort") || "v.name";
                let currentDirection = new URLSearchParams(window.location.search).get("sortDirection") || "ASC";

                // CLick to sort
                $(".sort-link").on("click", function (e) {
                    e.preventDefault();

                    let search = $("#txtSearch").val();
                    let page = /*[[${products.number}]]*/0;
                    let sizeData = /*[[${currPageSize}]]*/0;
                    let selectedSort = $(this).data("sort");
                    let newDirection = (currentSort === selectedSort && currentDirection === "ASC") ? "DESC" : "ASC";

                    // Back to the product controller with method name 'categoryProduct'
                    location.href = `/product?search=${search}&pageNumber=${page}&currPageSize=${sizeData}&sort=${selectedSort}&sortDirection=${newDirection}`;
                });

                // When pressing the specific id of table and refering the .btn-success (edit)
                $("#tblProduct").on("click", ".btn-success", function (e) {
                    let productId = $(this).data("id"); // Access data-id attribute
                    if (productId) {  // Ensure productId is not undefined or null
                        $("#staticModalBody").load("product/edit/" + productId);
                        $("#staticModal").modal("show");
                    } else {
                        console.log("No product ID found");
                    }
                })

                // When pressing the specific id of table and refering the .btn-warning (detail)
                $("#tblProduct").on("click", "#myButt > .btn-warning", function (e) {
                    let productId = $(this).data("id")
                    if (productId) {
                        $("#staticModalBody").load("product/detail/" + productId)
                        $("#staticModal").modal("show")
                    } else {
                        console.log("No product ID found")
                    }
                })

                // When pressing the specific id of table and refering the .btn-warning (detail)
                $("#tblProduct").on("click", "#myButt > .btn-danger", function (e) {
                    let productId = $(this).data("id")
                    if (productId) {
                        $("#staticModalBody").load("product/delete/" + productId)
                        $("#staticModal").modal("show")
                    } else {
                        console.log("No product ID found")
                    }
                })


            })
        </script>

    </div>
</body>


</html>