<input type="hidden" id="txtTitle" th:value="${title}"/>
<input type="hidden" id="varId" th:value="${id}"/>
<div class="card">
  <div class="card-body">
    <div class="col text-center h4">
      <i class="fas fa-question-circle text-info"></i>
    </div>
    <div class="col-11">
      Are you sure want to delete Variant with ID <span th:text="${id}"></span>?
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-danger me-2">Confirm</button>
    <button class="btn btn-primary">Cancel</button>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#staticModelLabel").text($("#txtTitle").val());

    $(".card-footer > .btn-danger").click(function(e){
      let varId = $("#varId").val();
      let userId = 1;
      $.ajax({
        url:"variant/delete/"+varId+"/"+userId,
        type: "post",
        beforeSend: () => {
          alert("Menghapus Data");
        },
        success: (response) => {
          alert("Variant dengan ID" + varId + "berhasil dihapus");
          location.reload();
        },
        error: (errResponse) => {
          alert("Gagal hapus variant");
          console.error("Hapus data gagal : " + errResponse.responseText);
        }
      });
    });

    $(".card-footer > .btn-primary").click(function(e){
      $("#staticModal").modal("hide");
    });
  });
</script>