<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
    <div class="card-body">
        <form id="frmDeleteCategory">
            <input type="hidden" name="id" id="txtId" th:value="${category.getId()}" aria-readonly="true" />
            <input type="hidden" name="updateBy" id="txtUpdateby" value="2" />
            <div class="form-group">
                <label for="txtName" class="form-label h6">Name</label>
                <input type="text" class="form-control" id="txtName" name="categoryName" th:value="${category.getCategoryName()}" aria-readonly="true" />
            </div>
            <div class="form-group">
                <label for="txtDescription" class="form-label h6">Description</label>
                <input type="text" class="form-control" id="txtDescription" name="description" th:value="${category.getDescription()}" aria-readonly="true" />
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Delete</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#staticModalLabel").text($("#txtTitle").val());

        $("#frmDeleteCategory").submit(function(e) {
            console.log("send api")
            e.preventDefault();
            $.ajax({
                url: "/category/delete",
                type: "post",
                data: $("#frmDeleteCategory").serialize(),
                dataType: "json",
                beforeSend: () => {
                    // alert("mengirim data ke api");
                },
                success: function(response) {
                    alert("Category " + response.categoryName + " succesfully deleted!");
                    location.reload();
                },
                error: function(errResponse) {
                    console.error("delete Category Failed: " + errResponse.responseText);
                }
            });

        });
    });
</script>