<html lang="en" xmlns="http://www.thymeleaf.org">

<form action="#" method="post">
<table class="table">
<tr>
	<td colspan="2">Product Form</td>
</tr>
<tr>
	<td>Category</td>
	<td>
		<select id="category" onclick="getvariant(this.value)" class="form-control">
		</select>
	</td>
</tr>
<tr>
	<td>Variant</td>
	<td>
		<select class="variant" id="variantId">
		</select>
	</td>
</tr>
<tr>
	<td>Initial</td>
	<td><input type="text" id="initial"></td>
</tr>
<tr>
	<td>Name</td>
	<td><input type="text" id="name"></td>
</tr>
<tr>
	<td>Description</td>
	<td><input type="text" id="description"></td>
</tr>
<tr>
	<td>Price</td>
	<td><input type="text" id="price"></td>
</tr>
<tr>
	<td>Stock</td>
	<td><input type="text" id="stock"></td>
</tr>
<tr>
	<td>Active</td>
	<td>
		<input type="checkbox" id="active" value="true"> <label for="act">Active?</label><br>
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type="button" class="btn btn-primary" value="Simpan Data" onclick="savedata()">
	</td>
</tr>
</table>
</form>

<script>
$.ajax({
	url:'/api/product/getcategory',
	type:'get',
	contentType:'application/json',
	success:function(result) {
		console.log(result)
		var str = "<option>-- Pilih category --</option>";
		for(i=0; i<result.length; i++) {
			str += '<option value="'+result[i].id+'">'+result[i].name+'</option>'
		}
		console.log(str)
		$('#category').html(str);
	}
})

function getvariant(catid) {
	$.ajax({
		url:'/api/product/getvariantbycategory/'+catid,
		type:'get',
		contentType:'application/json',
		success:function(result) {
			console.log(result)
			var str = "";
			for(i=0; i<result.length; i++) {
				str += '<option value="'+result[i].id+'">'+result[i].name+'</option>'
			}
			console.log(str)
			$('.variant').html(str);
		}
	})
}

function savedata() {
	var datas = "{";
	datas += '"variantId":'+$('#variantId').val()+','
	datas += '"initial":"'+$('#initial').val()+'",'
	datas += '"name":"'+$('#name').val()+'",'
	datas += '"description":"'+$('#description').val()+'",'
	datas += '"price":'+$('#price').val()+','
	datas += '"stock":'+$('#stock').val()+','
	datas += '"active":'+$('#active').val()
	datas += "}"
	console.log(datas)
	$.ajax({
		url:'/api/product/',
		type:'post',
		data:datas,
		contentType:'application/json',
		success:function(result) {
			console.log(result)
			Swal.fire('success')
			location.replace('/product/index')
		}
	})
}
</script>

</html>
