<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
	<title>POS272::Product</title>
</head>
<body>

<div layout:fragment="content">
<h1>Product Page</h1>

<button class="btn btn-success" style="float:right;" onclick="formtambah()">+ Tambah Data</button>

<table class="table" id="tableproduct">
<thead>
	<tr>
		<th>Category</th>
		<th>Variant</th>
		<th>Initial</th>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Stock</th>
		<th>Active</th>
		<th style="text-align:center;">Action</th>
	</tr>
</thead>
<tbody id="dataproduct">
</tbody>
</table>

<input type="hidden" id="dataid">

<script>

listdata();

$(document).ready( function () {
	$('#tableproduct').DataTable();
});

function listdata() {
	$.ajax({
		url:'/api/product/',
		type:'get',
		contentType:'application/json',
		success:function(result) {
			var str = "";
			for(var i=0; i<result.length; i++) {
				str += "<tr>"
				str += "<td>"+result[i].variant.category.name+"</td>"
				str += "<td>"+result[i].variant.name+"</td>"
				str += "<td>"+result[i].initial+"</td>"
				str += "<td>"+result[i].name+"</td>"
				str += "<td>"+result[i].description+"</td>"
				str += "<td>"+result[i].price+"</td>"
				str += "<td>"+result[i].stock+"</td>"
				str += "<td>"+result[i].active+"</td>"
				str += "<td>"
				str += '<button class="btn btn-primary" onclick="editform(this.value)" value="'+result[i].id+'">E</button>'
				str += '<button class="btn btn-danger" onclick="_delete(this.value)" value="'+result[i].id+'">X</button>'
				str += "</td>"
				str += "</tr>"
			}
			$('#dataproduct').html(str)
		}
	})
}

function formtambah() {
	$.ajax({
		url:'/product/addform',
		type:'get',
		contentType:'html',
		success:function(result) {
			$('#mymodal').modal('show')
			$('.modal-title').html('Form tambah data')
			$('.modal-body').html(result)
		}
	})
}

function editform(id) {
	$('#dataid').val(id)
	$.ajax({
		url:'/product/editform/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$('#mymodal').modal('show')
			$('.modal-title').html('Form edit data')
			$('.modal-body').html(result)
		}
	})
}

function _delete(id) {
	var conf = window.confirm("Yakin mau menghapus data ini?");
	if(conf) {
		$.ajax({
			url:'/api/product/'+id,
			type:'delete',
			contentType:'application/json',
			success:function(result) {
				console.log(result)
				location.replace('/product/index')
			}
		})	
	}
	
}
</script>

</div>

</body>
</html>