<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">XsisPOS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/master"
            id="masterMenu"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Master
          </a>
          <ul class="dropdown-menu" aria-labelledby="masterMenu">
            <li><a class="dropdown-item" href="/category">Category</a></li>
            <li><a class="dropdown-item" href="/variant">Variant</a></li>
            <li><a class="dropdown-item" href="/product">Product</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/user">User</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/transaction"
            id="transactionMenu"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Transaction
          </a>
          <ul class="dropdown-menu" aria-labelledby="transactionMenu">
            <li><a class="dropdown-item" href="#">Order</a></li>
            <li><a class="dropdown-item" href="#">Order History</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
