<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layoutOrder}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Variant List</title>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.jqueryui.min.css">
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.jqueryui.min.js"></script> -->
</head>
<body>
    <div layout:fragment="content" class="bg-light p-3">

        <div class="card">
            <div class="card-header h3" text="${title}"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card bg-info">
                            <div class="card-body text-center text-white">
                                <div class="h1" id="totProduct">0</div>
                                <div class="h5">Total Product</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-warning">
                            <div class="card-body text-center text-white">
                                <div class="h1" id="estPrice">0</div>
                                <div class="h5">Estimated Price</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-success">
                            <div class="card-body text-center text-white">
                                <button id="addToCart" class="btn streched-link p-0 text-white h6">
                                    <div class="h1" id="estPrice"><i class="fas fa-cart-plus"></i></div>
                                    Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:if="${products != null}" th:each="product: ${products}" class="col-lg-3 col-sm-12">
                        <div class="card">
                            <img th:if="${product.image} != null" th:src="@{'lib/images/' + ${product.image}}" class="img-thumbnail rounded-circle w-75 h-75">
                            <img th:unless="${product.image} != null" th:src="@{'lib/images/' + image.jpeg}" class="img-thumbnail rounded-circle w-75 h-75">
                            <div class="card-header h5 text-truncate" th:id="|name-${product.id}|" th:text="${product.name}">Product 1</div>
                            <div class="card-body">
                                <div class="card-text d-flex justify-content-between">
                                    <span>Price</span>
                                    <span th:id="|price-${product.id}|" th:text="${product.price}" th:data-price="${product.price}">Rp.99.999,-</span>
                                </div>
                                <div class="card-text d-flex justify-content-between">
                                    <span>Stock</span>
                                    <span th:id="|stock-${product.id}|" th:text="${product.stock}" th:data-stock="${product.stock}">99</span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between">
                                    <div class="btn-group">
                                        <button class="btn btn-danger btnRemove" th:id="|btnRemove-${product.id}|" th:data-id="${product.id}" disabled="true"><i class="fas fa-minus"></i></button>
                                        <input type="text" class="form-control text-center" th:id="|qty-${product.id}|" th:value="0" readonly="readonly">
                                        <button class="btn btn-success btnAdd" th:id="|btnAdd-${product.id}|" th:data-id="${product.id}"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${products != null}" th:text="${errorMsg}" class="text-center text-danger fst-italic"> kosong weh</div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            let listCart = [];
            $(document).ready(function(e){
                let totProduct = parseInt($("#totProduct").text());
                let estPrice = parseFloat($("#estPrice").text());
                $(".btnRemove").click(function(e){
                    let productId = $(this).data("id");
                    let productQty = parseInt($("#qty-" + productId).val());
                    let productName = $("#name-"+productId).text();
                    let productPrice = parseFloat($("#price-"+productId).data("price"));
                    let productStock = parseInt($("#stock-"+productId).data("stock"));
                    if(productQty>0){
                        productStock++;
                        totProduct--;
                        productQty--;
                        estPrice -= productPrice;
                        let productCardIdx = listCart.map(p => p.id).indexOf(productId);

                        if(productCardIdx >= 0){
                            listCart[productCardIdx].qty = productQty;
                        }
                        if(listCart[productCardIdx].qty < 1){
                            listCart.splice(productCardIdx, 1);
                        }
                        $("totProduct").text(totProduct);
                        $("#estPrice").text(estPrice);
                        $("#qty-"+productId).val(productQty);
                        $("#stock-"+productId).data("stock", productStock);
                        $("#stock-" +productId).text(productStock);
                        
                        if(productQty < 1){
                            $(this).prop("disabled", true);
                        }
                        if(productStock > 0){
                            $("#btnAdd-"+productId).prop("disabled", false);
                        }
                    }
                });
                $(".btnAdd").click(function(e){
                    debugger;
                    let productId = $(this).data("id");
                    let productQty = parseInt($("#qty-" + productId).val());
                    let productName = $("#name-"+productId).text();
                    let productPrice = parseFloat($("#price-"+productId).data("price"));
                    let productStock = parseInt($("#stock-"+productId).data("stock"));
                    let product = {};
                    if(productStock > 0){
                        productStock--;
                        totProduct++;
                        productQty++;
                        estPrice+= productPrice;
                    }
                    product.id = productId;
                    product.name = productName;
                    product.price = productPrice;
                    product.qty = productQty;
                    let productCardIdx = listCart.map(p => p.id).indexOf(productId);
                    if(productCardIdx < 0){
                        listCart.push(product);
                    }else{
                        listCart[productCardIdx].qty = productQty;
                    }
                    $("totProduct").text(totProduct);
                    $("#estPrice").text(estPrice);
                    $("#qty-"+productId).val(productQty);
                    $("#stock-"+productId).data("stock", productStock);
                    $("#stock-" +productId).text(productStock);

                    if(productStock < 1){
                        $(this).prop("disabled", true);
                    }
                    if(productQty > 0){
                        $("#btnRemove-"+productId).prop("disabled", false);
                    }
                });
                $("#addToCart").click(function(e){
                    e.preventDefault();
                    $("#staticModalBodyLg").load("/order/cart");
                    $("#staticModalLg").show();
                })
            });
        </script>
    </div>
</body>
</html>