<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
  <div class="card-body">
    <div id="formNewCategory" class="d-grid gap-3">
      <input type="hidden" name="id" id="txtId" th:value="${category.id}" />
      <input type="hidden" name="updateBy" id="txtUpdateBy" value="2" />
      <div class="form-group">
        <label for="txtName" class="form-label">Name</label>
        <input
          type="text"
          disabled
          readonly
          class="form-control"
          id="txtName"
          name="categoryName"
          th:value="${category.categoryName}"
        />
      </div>
      <div class="form-group">
        <label for="txtDescription" class="form-label">Description</label>
        <input
          type="text"
          disabled
          readonly
          class="form-control"
          id="txtDescription"
          name="description"
          th:value="${category.description}"
        />
      </div>
      <div class="row row-cols-2">
        <div class="form-group col">
          <label for="txtDescription" class="form-label">Created by</label>
          <input
            type="text"
            disabled
            readonly
            class="form-control"
            id="txtDescription"
            name="description"
            th:value="${category.createBy}"
          />
        </div>
        <div class="form-group col">
          <label for="txtDescription" class="form-label">Updated by</label>
          <input
            type="text"
            disabled
            readonly
            class="form-control"
            id="txtDescription"
            name="description"
            th:value="${category.updateBy}"
          />
        </div>
        <div class="form-group col">
          <label for="txtDescription" class="form-label">Create date</label>
          <input
            type="text"
            disabled
            readonly
            class="form-control"
            id="txtDescription"
            name="description"
            th:value="${category.createDate}"
          />
        </div>
        <div class="form-group col">
          <label for="txtDescription" class="form-label">Update date</label>
          <input
            type="text"
            disabled
            readonly
            class="form-control"
            id="txtDescription"
            name="description"
            th:value="${category.updateDate}"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#staticModalLabel").text($("#txtTitle").val());
  });
</script>
