<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
  <div class="card-body">
    <form
      th:action="@{~/category/update}"
      id="formEditCategory"
      class="d-grid gap-3"
      method="post"
    >
      <input type="hidden" name="id" id="txtId" th:value="${category.id}" />
      <input type="hidden" name="updateBy" id="txtUpdateBy" value="2" />
      <div class="form-group">
        <label for="txtName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="txtName"
          name="categoryName"
          th:value="${category.categoryName}"
        />
      </div>
      <div class="form-group">
        <label for="txtDescription" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="txtDescription"
          name="description"
          th:value="${category.description}"
        />
      </div>
      <div class="text-right d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-edit"></i> Update
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#staticModalLabel").text($("#txtTitle").val());
    $("#formEditCategory").validate({
      rules: {
        categoryName: {
          required: true,
          maxlength: 100,
          minlength: 3,
        },
        description: {
          maxlength: 100,
        },
      },
      errorClass: "text-danger",
    });

    $("#formEditCategory").submit(function (e) {
      e.preventDefault();

      if ($("#formEditCategory").valid()) {
        $.ajax({
          url: "/category/update",
          type: "post",
          data: $("#formEditCategory").serialize(),
          dataType: "json",
          beforeSend: () => {
            // alert("Mengirim data ke API");
          },
          success: function (response) {
            alert(
              "Category " + response.categoryName + " successfully update!"
            );
            location.reload();
          },
          error: function (errResponse) {
            console.error(
              "Update Category Failed: " + errResponse.responseText
            );
          },
        });
      }
    });
  });
</script>
