<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layoutOrder}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order::Catalog</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="card">
        <div class="card-header h3" th:text="${title}"></div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="card text-white bg-primary">
                <div class="card-body d-flex flex-column align-items-center">
                  <h1 class="card-title" id="totalProduct">0</h1>
                  <p class="card-text">Total Product</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-warning">
                <div class="card-body d-flex flex-column align-items-center">
                  <h1 class="card-title" id="estPrice">0</h1>
                  <p class="card-text">Estimate Price</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-success">
                <div class="card-body d-flex flex-column align-items-center">
                  <h1 class="card-title"><i class="fas fa-cart-plus"></i></h1>
                  <button
                    id="addToCart"
                    class="btn stretched-link p-0 text-white card-text"
                    disabled
                  >
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div
              th:if="${products != null}"
              th:each="product: ${products}"
              class="col-lg-3 col-md-4 col-sm-6 col-12"
            >
              <div class="card">
                <img
                  th:if="${product.image!=null}"
                  th:src="@{'lib/images/'+${product.image}}"
                  class="card-img-top"
                  th:alt="${product.name}"
                  style="height: 150px; object-fit: contain"
                />
                <img
                  th:unless="${product.image!=null}"
                  th:src="@{'lib/images/blank-image.jpg'}"
                  class="card-img-top"
                  th:alt="${product.name}"
                  style="height: 150px; object-fit: contain"
                />
                <div
                  class="card-header h5 text-truncate"
                  th:id="|name-${product.id}|"
                  th:text="${product.name}"
                >
                  Pudding
                </div>
                <div class="card-body">
                  <div class="card-text d-flex justify-content-between">
                    <span>Price :</span>
                    <span
                      th:id="|price-${product.id}|"
                      th:text="${product.price}"
                      th:data-price="${product.price}"
                      >10.000,-</span
                    >
                  </div>
                  <div class="card-text d-flex justify-content-between">
                    <span>Stock :</span>
                    <span
                      th:id="|stock-${product.id}|"
                      th:text="${product.stock}"
                      th:data-stock="${product.stock}"
                      >90</span
                    >
                  </div>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between">
                    <div class="btn-group">
                      <button
                        class="btn btn-danger btn-remove"
                        th:id="|btnRemove-${product.id}|"
                        th:data-id="${product.id}"
                        disabled
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <input
                        type="text"
                        class="form-control text-center"
                        th:id="|qty-${product.id}|"
                        value="0"
                        readonly
                        disabled
                      />
                      <button
                        class="btn btn-success btn-add"
                        th:id="|btnAdd-${product.id}|"
                        th:data-id="${product.id}"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              th:unless="${products != null}"
              th:text="${errorMsg}"
              class="text-center text-danger fst-italic"
            ></div>
          </div>
        </div>
      </div>
      <script th:inline="javascript">
        let listCart = [];

        $(document).ready(function (e) {
          let totalProduct = $("#totalProduct").text();
          let estPrice = parseFloat($("#estPrice").text());

          $(".btn-remove").click(function (e) {
            let productId = $(this).data("id");
            let productName = $("#name-" + productId).text();
            let productQty = parseInt($("#qty-" + productId).val());
            let productPrice = parseFloat($("#price-" + productId).data("price"));
            let productStock = parseInt($("#stock-" + productId).data("stock"));

            if (productQty > 0) {
              productStock++;
              totalProduct--;
              productQty--;
              estPrice -= productPrice;

              let productCartIdx = listCart.map((p) => p.id).indexOf(productId);
              if (productCartIdx >= 0) {
                listCart[productCartIdx].qty = productQty;
              }

              if (listCart[productCartIdx].qty < 1) {
                listCart.splice(productCartIdx, 1);
              }

              // Update UI
              $("#totalProduct").text(totalProduct);
              $("#estPrice").text(estPrice);
              $("#qty-" + productId).val(productQty);
              $("#stock-" + productId).data("stock", productStock);
              $("#stock-" + productId).text(productStock);
            }
            // Deactivate "Remove Product" Button
            if (productQty < 1) {
              $(this).prop("disabled", true);
            }
            // Activate "Add Product" Button
            if (productStock > 0) {
              $("#btnAdd-" + productId).prop("disabled", false);
            }
            if (listCart.length < 1) {
              $("#addToCart").prop("disabled", true);
            }
            console.log(listCart);
          });
          $(".btn-add").click(function (e) {
            let productId = $(this).data("id");
            let productName = $("#name-" + productId).text();
            let productQty = parseInt($("#qty-" + productId).val());
            let productPrice = parseFloat($("#price-" + productId).data("price"));
            let productStock = parseInt($("#stock-" + productId).data("stock"));

            let product = {};
            if (productStock > 0) {
              productStock--;
              totalProduct++;
              productQty++;
              estPrice += productPrice;

              // Input values as product new properties
              product.id = productId;
              product.name = productName;
              product.price = productPrice;
              product.qty = productQty;

              // Check if product already exist in cart by its id
              let productCartIdx = listCart.map((p) => p.id).indexOf(productId);

              // Update list cart
              if (productCartIdx < 0) {
                listCart.push(product);
              } else {
                listCart[productCartIdx].qty = productQty;
              }

              // Update UI
              $("#totalProduct").text(totalProduct);
              $("#estPrice").text(estPrice);
              $("#qty-" + productId).val(productQty);
              $("#stock-" + productId).data("stock", productStock);
              $("#stock-" + productId).text(productStock);
            }

            // Deactivate "Add Product" button
            if (productStock < 1) {
              $(this).prop("disabled", true);
            }
            //Activate "Remove Product" button
            if (productQty > 0) {
              $("#btnRemove-" + productId).prop("disabled", false);
            }
            // Deactivate "Add to Cart" button
            if (listCart.length > 0) {
              $("#addToCart").prop("disabled", false);
            }
            console.log(listCart);
          });
          $("#addToCart").click(function (e) {
            $("#staticModalLg").load(
              "/order/cart",
              {
                listCart: listCart,
                totalProduct: totalProduct,
                estPrice: estPrice,
              },
              function (result, status) {
                if (status == "success") {
                  $("#staticModalLg").modal("show");
                } else {
                  alert("Ada yang salah");
                  console.error("status", status);
                  console.error("result", result);
                }
              }
            );
            $("#staticModalLg").modal("show");
          });
        });
      </script>
    </div>
  </body>
</html>
