<!-- Modal: Standar Size -->
<div class="modal fade" id="staticModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
            </div>
            <div class="modal-body" id="staticModalBody">
                ...
            </div>
        </div>
    </div>
</div>

<!-- Modal: Large Size -->
 <div class="modal fade" id="staticModalLg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticModalLabelLg" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabelLg">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
            </div>
            <div class="modal-body" id="staticModalBodyLg">
                ...
            </div>
        </div>
    </div>
</div>