<!-- NAVBAR START -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <div class="d-flex justify-content-between container-fluid">
            <a class="navbar-brand" href="#"><b>XsisPOS</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li th:if="${#ctx.session.roleId==1}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/master" id="masterMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Master
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="masterMenu">
                            <li><a class="dropdown-item" href="/category">Category</a></li>
                            <li><a class="dropdown-item" href="/variant">Variant</a></li>
                            <li><a class="dropdown-item" href="/product">Product</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/customer">Customer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/transaction" id="transactionMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Transaction
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="transactionMenu">
                            <li><a class="dropdown-item" href="/order">Order</a></li>
                            <li><a class="dropdown-item" href="#">Order History</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
            <div class="">
                <button th:if="${#ctx.session.userId == null}" id="btnLogin" class="btn btn-warning"><b>LOGIN</b></button>
                <!-- <button th:unless="${#ctx.session.userId == null}" class="btn text-light" th:text="${'Hai ' + #ctx.session.userName}"></button>
                <button th:unless="${#ctx.session.userId == null}" id="btnLogout" class="btn text-light">Logout</button> -->
                <div th:unless="${#ctx.session.userId == null}" class="btn-group">
                    <a th:text="${'Hai ' + #ctx.session.userName + ' '}" class="nav-link dropdown-toggle text-light" href="#" id="transactionMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><button class="dropdown-item" id="btnLogout" type="button">Logout</button></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav>

<script>
    $('#btnLogin').click(function(e){
        $("#staticModalBody").load("/auth/login");
        $("#staticModal").modal("show");
    })

    $("#btnLogout").click(function(e) {
        location.href= "/auth/logout";
    });
</script>
<!-- NAVBAR END -->