<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand fst-bold" href="#">XsisPOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-current="page">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/master" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="masterMenu">Master</a>
                    <ul class="dropdown-menu" aria-labelledby="masterMenu">
                        <li><a href="/category" class="dropdown-item d-flex justify-content-between" aria-current="page"><span>Category</span> <i class="fas fa-list text-danger"></i></a></li>
                        <li><a href="/variant" class="dropdown-item d-flex justify-content-between"><span>Variant</span> <i class="fas fa-stream text-success"></i></a></li>
                        <li><a href="/product" class="dropdown-item d-flex justify-content-between"><span>Product</span> <i class="fas fa-boxes text-primary"></i></a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a href="/customer" class="dropdown-item d-flex justify-content-between"><span>Customer</span> <i class="fas fa-users"></i></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/transaction" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="transactionMenu">Transaction</a>
                    <ul class="dropdown-menu" aria-labelledby="transactionMenu">
                        <li><a href="#" class="dropdown-item"> Order</a></li>
                        <li><a href="#" class="dropdown-item"> Order History</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>