<span class="d-none" th:text="${title}" id="txtTitle"></span>
<div class="card">
    <div class="card-body">
        <form th:action="@{~/variant/save}" id="formAddVariant" method="post">
            <div class="form-group">
                <label for="txtName" class="form-label">Name : </label>
                <input type="text" class="form-control" id="txtName" name="name">
            </div>
            <div class="form-group mt-4">
                <div class="mt-3"></div>
                <label for="txtDeskripsi" class="form-label">Description : </label>
                <input type="text" class="form-control" id="txtDeskripsi" name="description">
                <div class="mt-3"></div>
                <label for="txtDeskripsi" class="form-label">Pilih Category : </label><br>
                <select name="categoryId">
                    <option value="">--Select Category--</option>
                    <option th:if="${category != null}" th:each="item:${category}" th:value="${item.id}" th:text="${item.categoryName}"></option>
                </select>
            <div class="form-group">
            <div class="d-flex justify-content-end mt-3">
                <input type="hidden" name="createBy" value="1">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#staticBackdropLabel').text($('#txtTitle').text());

        $("#formAddVariant").validate({
            "rules" :{
                "name" : {
                    "required":true,
                    "maxlength" : 100,
                    "minlength" : 3
                }
            },
            "errorClass" : "text-danger"
        });

        $("#formAddVariant").submit(function(e){
            e.preventDefault();

            if($("#formAddVariant").valid()){
                $.ajax({
                    url :"/variant/save",
                    type : "post",
                    data : $("#formAddVariant").serialize(),
                    dataType : "json",
                    beforeSend : () => {
                        alert("Mengirim Data");
                    },
                    success:function(response){
                        alert("Variant "+response.name + " Berhasil di Tambah");
                        location.reload();
                    },
                    error:function(errResponse){
                        console.error("Tambah Variant Gagal : " + errResponse.responseText);
                    }
                });
            }
        });
    });
</script>