<input type="hidden" id="txtTitle" th:value="${title}" />
<div class="card">
  <div class="card-body">
    <form
      th:action="@{~/variant/create}"
      id="formNewVariant"
      class="d-grid gap-3"
      method="post"
    >
      <input type="hidden" id="txtCreateBy" name="createBy" value="1" />
      <div class="form-group">
        <label for="txtName" class="form-label">Varian Name</label>
        <input type="text" class="form-control" id="txtName" name="name" />
      </div>
      <div class="form-group">
        <label for="txtDescription" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="txtDescription"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="slcCategory" class="form-label">Select menu</label>
        <select id="slcCategory" class="form-select" name="categoryId">
          <option value="">--Select Category--</option>
          <option
            th:if="${category!=null}"
            th:each="item:${category}"
            th:text="${item.categoryName}"
            th:value="${item.id}"
          >
            Category Name
          </option>
        </select>
      </div>
      <div class="text-right d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-save"></i> Save
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#staticModalLabel").text($("#txtTitle").val());
    $("#formNewVariant").validate({
      rules: {
        name: {
          required: true,
          maxlength: 50,
          minlength: 3,
        },
        description: {
          maxlength: 100,
        },
        categoryId: {
          required: true,
        },
      },
      errorClass: "text-danger",
    });

    $("#formNewVariant").submit(function (e) {
      e.preventDefault();

      if ($("#formNewVariant").valid()) {
        $.ajax({
          url: "/variant/create",
          type: "post",
          data: $("#formNewVariant").serialize(),
          dataType: "json",
          beforeSend: () => {
            // alert("Mengirim data ke API");
          },
          success: function (response) {
            alert("Variant " + response.name + " successfully update!");
            location.reload();
          },
          error: function (errResponse) {
            console.error(
              "Create new Variant Failed: " + errResponse.responseText
            );
          },
        });
      }
    });
  });
</script>
