<span class="d-none" th:text="${title}" id="txtTitle"></span>
<div class="card">
    <div class="card-body" th:each="item:${variant}">
            <div class="input-group">
                <label for="txtName" class="input-group-text">Name </label>
                <input type="text" class="form-control" id="txtName" name="name" th:value="${item.name}" disabled readonly>
            </div>

            <div class="input-group mt-4">
                <label for="txtDeskripsi" class="input-group-text">Categories </label>
                <input type="text" class="form-control"th:value="${item.categoryName}" disabled readonly>
            </div>

            <div class="input-group mt-4">
                <label for="txtDeskripsi" class="input-group-text">Description </label>
                <input type="text" class="form-control" id="txtDeskripsi" name="deskripsi" th:value="${item.description}" disabled readonly>
            </div>
            <br>
            <div class="grid border-top border-white">
                <div class=" row">
                    <div class="col-3">
                        <label for="txtDeskripsi" class="form-label">Create By : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="createBy" th:value="${item.createBy}" readonly>
                    </div>
        
                    <div class="col-9">
                        <label for="txtDeskripsi" class="form-label">Create Date : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="createDate" th:value="${item.createDate}" readonly>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-3">
                        <label for="txtDeskripsi" class="form-label">Update By : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="updateby" th:value="${item.updateBy}" readonly>
                    </div>
        
                    <div class="col-9">
                        <label for="txtDeskripsi" class="form-label">Update Date : </label>
                        <input type="text" class="form-control-plaintext" id="txtDeskripsi" name="updateDate" th:value="${item.updateDate}" readonly>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#staticBackdropLabel').text($('#txtTitle').text());
    });
</script>