<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <title>Variant</title>
  </head>
  <body>
    <div layout:fragment="content">
      <style>
        nav{
            background-color: #6C757D;
            color: white;
        }
    </style>
      <div>
        <h1>Variant List</h1>
        <button class="btn btn-success" type="button" id="btnAdd" data-bs-toggle="modal" data-bs-target="#staticModal">
          <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
        </button>
        <hr style="opacity: 1" />
      </div>
      <div>
        <table class="table table-bordered mt-2 table-hover text-center border-white" id="tblVariant" >
          <thead>
            <tr>
              <th class="col-1 text-center">Id</th>
              <th class="col-4 text-center">Nama Variant</th>
              <th class="col-1 text-center">Categories</th>
              <th class="col-4 text-center">Description</th>
              <th class="col-1 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item:${variant}">
              <td th:text="${item.id}" class="text-center">1</td>
              <td th:text="${item.name}" class="text-center">Bread</td>
              <td th:text="${item.categoryName}"
              class="text-center">
            </td>
            
              <td th:text="${item.description}">Variant of bread</td>
              <td>
                <div
                  class="btn-group d-flex justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example">
                <button th:data-id="${item.id}" type="button" class="btn btn-info" title="Edit"><i class="fas fa-edit"></i></button>
                <button th:data-id="${item.id}" type="button" class="btn btn-warning" title="Detail"><i class="fas fa-info"></i></button>
                <button th:data-id="${item.id}" type="button" class="btn btn-danger" title="Delete"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <script>
        new DataTable('#tblVariant');
        $('#btnAdd').click(
          function(e){
            $('#staticModalBody').load("/variant/add");
          });
        
        $(".btn-info").click(function(e){
          let catId=$(this).data('id');

          $('#staticModalBody').load("/variant/edit/"+catId);
          $('#staticModal').modal("show");
        })

        $(".btn-warning").click(function(e){
          let catId=$(this).data('id');

          $('#staticModalBody').load("/variant/detail/"+catId);
          $('#staticModal').modal("show");
        })

        $(".btn-danger").click(function(e){
          let catId=$(this).data('id');
          $('#staticModalBody').load("/variant/delete/"+catId);
          $('#staticModal').modal("show");
        })
      </script>
    </div>
  </body>
</html>
