<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}">
  <head>
    <title>Variant</title>
  </head>
  <body>
    <div layout:fragment="content">
      <style>
        nav{
            background-color: #6C757D;
            color: white;
        }
    </style>
      <div>
        <h1>Variant List</h1>
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-success"
            type="button"
            id="btnAdd"
            data-bs-toggle="modal"
            data-bs-target="#staticModal"
          >
            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
          </button>
        </div>

        <hr style="opacity: 1" />
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <div class="input-group">
                <input type="text" th:value="${variant.totalElements}" style="width: 50px;" class="form-control" disabled readonly>
                <span class="input-group-text">Entries</span>
            </div>
          </div>
          <form class="input-group w-25">
            <input
              th:if="${filter != null and !filter.isEmpty()}"
              th:value="${filter}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari Category atau Variant"
            />
            <input
              th:unless="${filter != null and !filter.isEmpty()}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari Category atau Variant"
            />
            <button type="submit" class="input-group-text" title="Filter">
              <i class="fas fa-filter"></i>
            </button>
          </form>
        </div>
      </div>
      <div>
        <table class="table table-bordered mt-2 table-hover text-center border-white" id="tblVariant" >
          <thead>
            <tr>
              <th class="col-1 text-center">Id</th>
              <th class="col-4 text-center">Nama Variant</th>
              <th class="col-1 text-center">Categories</th>
              <th class="col-4 text-center">Description</th>
              <th class="col-1 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item:${variant.content}">
              <td th:text="${item.id}" class="text-center">1</td>
              <td th:text="${item.name}" class="text-center">Bread</td>
              <td th:text="${item.categoryName}"
              class="text-center">
            </td>
            
              <td th:text="${item.description}">Variant of bread</td>
              <td>
                <div
                  class="btn-group d-flex justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example">
                <button th:data-id="${item.id}" type="button" class="btn btn-info" title="Edit"><i class="fas fa-edit"></i></button>
                <button th:data-id="${item.id}" type="button" class="btn btn-warning" title="Detail"><i class="fas fa-info"></i></button>
                <button th:data-id="${item.id}" type="button" class="btn btn-danger" title="Delete"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <div class="d-flex justify-content-between">
                  <div class="input-group" style="width: 15%;">
                    <label class="input-group-text">Show</label>
                    <select name="pageSize" id="pageSize" class="form-control">
                      <option th:each="i : ${#numbers.sequence(10, 20, 5)}" th:value="${i}" th:text="${i}" th:selected="${i == pageSize}"></option>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text">Entries</span>
                    </div>
                  </div>
                  <div>
                        <button
                        type="button"
                        class="btn btn-secondary"
                        id="prevBTN"
                        title="Previous">
                        <i class="fas fa-arrow-left"></i>
                      </button>
                      <span
                        th:text="|Page ${variant.number+1} of ${variant.totalPages}|"
                        >Page 1</span
                      >
                      <button
                        type="button"
                        class="btn btn-secondary"
                        id="nextBTN"
                        title="Next"
                      >
                        <i class="fas fa-arrow-right"></i>
                  </button>
                  </div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <script th:inline="javascript">
          $(document).ready(function(){          
          let isFirstpage=/*[[${variant.first}]]*/true;
          let isLastPage=/*[[${variant.last}]]*/false;
          $("#prevBTN").prop("disabled",isFirstpage);
          $("#nextBTN").prop("disabled",isLastPage);
        });

        $('#btnAdd').click(
          function(e){
            $('#staticModalBody').load("/variant/add");
          });
        
          $('#tblVariant').on('click','.btn-info',function(e){
          let catId=$(this).data('id');

          $('#staticModalBody').load("/variant/edit/"+catId);
          $('#staticModal').modal("show");
        })

        $('#tblVariant').on('click','.btn-warning',function(e){
          let catId=$(this).data('id');

          $('#staticModalBody').load("/variant/detail/"+catId);
          $('#staticModal').modal("show");
        })

        $('#tblVariant').on('click','.btn-danger',function(e){
          let catId=$(this).data('id');
          $('#staticModalBody').load("/variant/delete/"+catId);
          $('#staticModal').modal("show");
        })
      
        $("#prevBTN").click(function(e){
          let filter=$("#txtFilter").val();
          let currPageSize=/*[[${pageSize}]]*/0;
          let page=/*[[${variant.number}]]*/0;
          
          location.href="/variant?filter="+filter+"&number="+(page-1)+"&page="+currPageSize;
        })

        $("#nextBTN").click(function(e){
          let filter=$("#txtFilter").val();
          let currPageSize=/*[[${pageSize}]]*/0;
          let page=/*[[${variant.number}]]*/0;
          
          location.href="/variant?filter="+filter+"&number="+(page+1)+"&page="+currPageSize;
        })

        $("#pageSize").change(function(e){
              let filter=$("#txtFilter").val();
              let currPageSize=$("#pageSize").val();
              let page=/*[[${variant.number}]]*/0;
              
              location.href="/variant?filter="+filter+"&number="+page+"&page="+currPageSize;
        })
      </script>
    </div>
  </body>
</html>
