<form id="frmLogin">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="form-group mb-3">
                    <label for="txtEmail" class="form-label col-lg-3 col-12">Email</label>
                    <input type="text" class="form-control col-lg-9 col-12" id="txtEmail" name="email">
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                    <label for="txtPassword" class="form-label col-lg-3 col-12">Password</label>
                    <input id="txtPassword" name="password" type="password" class="form-control col-lg-9 col-12">
                </div>
            </div>
            <div id="errMsg" class="alert-warning mt-3 d-flex">
                <ul class="list-group list-unstyled"></ul>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <!-- change the type to button, not submit (if submit it will trigger the first login and register) -->
            <button class="btn btn-primary mx-2" type="button" id="registerCustomer" data-bs-target="#staticModal"
                data-bs-toggle="modal">Register</button>
            <!-- keep this into the submit, it will refering the form -->
            <button class="btn btn-success" type="submit" id="loginInCustomer">Log In</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function (e) {
        $("#staticModalLabel").text(`[[${title}]]`)

        $("#frmLogin").validate({
            rules: {
                email: {
                    required: true,
                    minlength: 6
                },
                password: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                email: {
                    required: "email is required",
                    minlength: "Email minimum length must 6"
                },
                password: {
                    required: "password is required",
                    minlength: "Password minimum length must 6"
                }
            },
            errorClass: "text-danger",
            errorContainer: "#errMsg",
            errorLabelContainer: "#errMsg ul",
            wrapper: "li"
        })

        $("#frmLogin").on("submit", function (e) {
            e.preventDefault()
            if ($("#frmLogin").valid()) {
                $.ajax({
                    url: "auth/login",
                    type: "post",
                    data: $("#frmLogin").serialize(),
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: `Customer name ${response.name} successfully login!`,
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function (errResponse) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: `Error login: ${errResponse.responseText}`,
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload()
                        });
                    }
                })
            }
        })

        $("#registerCustomer").on("click", function (e) {
            $("#staticModalLabelLg").text("Register New Customer")
            $("#staticModalBodyLg").load("auth/register")
            $("#staticModalLg").modal("show")
        })
    })
</script>