<form id="frmEditCustomer" accept-charset="utf-8">
    <div id="txtTitle" class="card-header d-none" th:text="${title}"></div>
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="input-group col">
                    <label class="col-4 input-group-text">Name <sup class="text-danger">*</sup></label>
                    <input class="col-8 form-control" type="text" name="name" th:value="${customer.name}" />
                </div>
                <div class="input-group col">
                    <label class="col-4 input-group-text">Role <sup class="text-danger" th:value="${customer.roleId}">*</sup></label>
                    <select class="col-8 form-select" name="roleId">
                        <option value="">-- Select a Role --</option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="input-group col">
                    <label class="col-4 input-group-text">Email <sup class="text-danger">*</sup></label>
                    <input class="col-8 form-control" type="email" name="email" th:value="${customer.email}"/>
                </div>
                <!-- <div class="input-group col">
                    <label class="col-4 input-group-text">Password <sup class="text-danger">*</sup></label>
                    <input class="col-8 form-control" type="password" name="password" />
                </div> -->
            </div>
            <div class="input-group mb-3">
                <label class="col-2 input-group-text">Address</label>
                <input class="col-10 form-control" name="address" th:value="${customer.address}" />
            </div>
            <div class="input-group mb-3">
                <label class="col-2 input-group-text">Phone</label>
                <input class="col-10 form-control" type="text" name="phone" th:value="${customer.phone}" />
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
            <input type="hidden" name="createBy" value="1" />
        </div>
    </div>
</form>

<script>
    $(document).ready(function(e) {
        $("#staticModalLabelLg").text($("#txtTitle").text());
    });

    $("#frmEditCustomer").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url:"/customer/update",
            type:"post",
            data: $(this).serialize(),
            dataType: "json",
            beforeSend: () => { },
            success: function (response) {
                alert("Customer " + response.name + " succesfully added!");
                location.reload();
            },
            error: function (errResponse) {
                console.error(errResponse);
                if (errResponse.responseJSON) {
                    alert(errResponse.responseJSON.error + ": " + errResponse.responseJSON.message);
                }
                else {
                    alert(errResponse.responseText);
                }
            }
        });

        return false;
    });

    $("#frmEditCustomer").validate({
        rules: {
            name: {
                "required": true,
                "minlength": 3
            },
            roleId: "required",
            password: {
                "required": true,
                "minlength": 6
            },
            email: {
                "required": true,
                "email": true
            }
        },
        errorClass: "text-danger"
    });
</script>