<html lang="en" xmlns="http://www.thymeleaf.org">

<form th:action="@{~/variant/save}" th:object="${variants}" method="POST">
<input type="hidden" th:field="*{Id}" value="${Id}">
<table class="table">
<tr>
	<td colspan="2">Variant Form</td>
</tr>
<tr>
	<td>Category</td>
	<td>
		<select th:field="*{CategoryId}">
			<option th:each="cat:${listcat}" th:value="${cat.Id}" th:text="${cat.Name}"></option>
		</select>
	</td>
</tr>
<tr>
	<td>Initial</td>
	<td><input type="text" th:field="*{Initial}" size="40" class="form-control" value="${Initial}"></td>
</tr>
<tr>
	<td>Name</td>
	<td><input type="text" th:field="*{Name}" size="40" class="form-control" value="${Name}"></td>
</tr>
<tr>
	<td>Active</td>
	<td>
		<input type="checkbox" th:field="*{Active}" id="act" value="${Active}"> <label for="act">Active?</label><br>
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type="submit" class="btn btn-primary" value="Simpan Data">
	</td>
</tr>
</table>
</form>

</html>
