<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
    class="dark">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container mt-5">
            <h2>Product List</h2>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button class="btn btn-primary" id="btnAddProduct" data-bs-toggle="modal" data-bs-target="#staticModal">Add</button>
            </div>
            <p>Tanggal = <span th:text="${#temporals.format(#temporals.createNow(), 'MM/dd/yyyy HH:mm:ss a')}"></span></p>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm" id="product-table">
                    <thead>
                    <tr>
                        <th class="text-start" width="1%">id</th>
                        <th class="text-center" width="3%">image</th>
                        <th class="text-center">nama product</th>
                        <th class="text-center">category</th>
                        <th class="text-center">variant</th>
                        <th class="text-center">price</th>
                        <th class="text-center">stock</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr class="align-middle" th:each="item:${products}">
                        <td class="text-start" th:text="${item.getId()}"></td>
                        <td class="text-center"><img th:src="${item.getImage()}" alt="img" class="rounded-5" width="50px"></td>
                        <td class="text-center" th:text="${item.getName()}"></td>
                        <td class="text-center" th:text="${item.getVariant().getName()}"></td>
                        <td class="text-center" th:text="${item.getVariant().getCategory().getCategoryName()}"></td>>
                        <td class="text-center" th:text="${item.getPrice()}"></td>
                        <td class="text-center" th:text="${item.getStock()}"></td>
                        <td class="text-center">
                            <button th:data-id="${item.getId()}" class="btn btn-info"><i class="fas fa-list-alt"></i></button>
                            <button th:data-id="${item.getId()}" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                            <button th:data-id="${item.getId()}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready( function () {
                $('#product-table').DataTable();

                $('#btnAddProduct').click(function (e) {
                    $('#staticModalBody').load("product/add");
                });

                $(".btn-info").click(function (e) {
                    let varId = $(this).data("id");
                    let type = "DETAIL";
                    $("#staticModalBody").load("product/" + type + "/" + varId);
                    $("#staticModal").modal("show");
                });

                $(".btn-warning").click(function(e) {
                    let varId = $(this).data("id");
                    $("#staticModalBody").load("product/edit/" + varId);
                    $("#staticModal").modal("show");
                });

                $(".btn-danger").click(function (e) {
                    let varId = $(this).data("id");
                    let type = "DELETE";
                    $("#staticModalBody").load("product/" + type + "/" + varId);
                    $("#staticModal").modal("show");
                });
            });
        </script>
    </section>
</body>
</html>