<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <h2>User List</h2>
        <button
          id="btnAdd"
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#staticModal"
        >
          Add
        </button>
      </div>
      <div class="container bg-light mt-3">
        <form action="" class="d-flex justify-content-between">
          <div class="input-group mb-3 align-items-center w-25">
            <label for="show" class="me-3">Show</label>
            <input
              type="number"
              class="form-control"
              th:if="${customer != null}"
              th:value="${#lists.size(customer)}"
            />
            <input
              type="number"
              class="form-control"
              th:unless="${customer != null}"
              value="0"
            />
            <button class="btn btn-outline-secondary">Entries</button>
          </div>
          <div
            class="input-group mb-3 justify-content-end align-items-center w-50"
          >
            <label for="search" class="me-3">Search</label>
            <input
              th:if="${filter!=null}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari..."
              th:value="${filter}"
            />
            <input
              th:unless="${filter!=null}"
              name="filter"
              type="text"
              id="txtFilter"
              class="form-control"
              placeholder="Cari..."
            />
            <button class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
        <div class="container bg-light border border-1 rounded">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
                <th scope="col">Email</th>
                <th scope="col">No. Telepon</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody th:if="${customer!=null}">
              <tr th:each="item : ${customer}">
                <th scope="row" th:text="${item.id}">1</th>
                <td th:text="${item.name}">Dwi</td>
                <td th:text="${item.address}">Banyuwangi</td>
                <td th:text="${item.email}">dirasuma@gmail.com</td>
                <td th:text="${item.phone}"></td>
                <td th:text="${item.roleId}">Management Trainee</td>
                <td class="d-flex gap-2">
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-success btn-edit"
                    title="Edit..."
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-warning btn-detail"
                    title="Details..."
                  >
                    <i class="fas fa-list"></i>
                  </button>
                  <button
                    th:data-id="${item.id}"
                    type="button"
                    class="btn btn-danger btn-delete"
                    title="Delete..."
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            th:unless="${customer != null}"
            class="text-center text-danger"
            style="min-height: 250px"
            th:text="${errorMsg}"
          >
            Error
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p>Page <span>1</span>of <span>2</span></p>
          <ul class="pagination">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
      <script>
        $("#btnAdd").click(function (e) {
          $("#staticModalBody").load("/customer/add");
        });
        $(".btn-edit").click(function (e) {
          let catId = $(this).data("id");

          $("#staticModalBody").load("/customer/edit/" + catId);
          $("#staticModal").modal("show");
        });
        $(".btn-detail").click(function (e) {
          let catId = $(this).data("id");
          $("#staticModalBody").load("/customer/" + catId);
          $("#staticModal").modal("show");
        });
        $(".btn-delete").click(function (e) {
          let catId = $(this).data("id");
          $("#staticModalBody").load("/customer/delete/" + catId);
          $("#staticModal").modal("show");
        });
      </script>
    </div>
  </body>
</html>
